{% load static from staticfiles %}
{% load wagtailimages_tags custom_tags %}

<!-- Page title -->
<section class="container">
    <div id="video-player"></div>
    <div class="container-reporter">
        <div class="reportero">
            {% image self.photo fill-80x80 as tmp_photo %}
            <img class="reportero-avatar" src="{% static 'images/defer.png' %}"
                                     data-src="{{ tmp_photo.url }}" alt="{{ self.title }}" />
            <div class="info-reportero">
                <h3 class="headings">{{ self }}</h3>
                <div class="social-media tab small">
                    {% with TW_SHARE="https://twitter.com/" INS="https://www.instagram.com/" %}
                        <a class="button-social circle twitter" href="{{ TW_SHARE }}{{ self.tw }}" target="_blank">
                            <span class="icon icon-twitter"><!-- icon --></span>
                        </a>
                        <a class="button-social circle instagram" href="{{ INS }}{{ self.ins }}" target="_blank">
                            <span class="icon icon-instagram"><!-- icon --></span>
                        </a>
                    {% endwith %}
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Video player -->
{% include "core/includes/video-archive/video-player.html" with article=articles|first %}

{% block ads_fullbanners %}
    {% include 'core/ads/full-banners.html' %}
{% endblock %}

<!-- Video gallery -->
{% with dailymotion_path="//www.dailymotion.com/embed/video/" dailymotion_thumbnail="//www.dailymotion.com/thumbnail/video/" properties_video="?html=true&amp;info=0&amp;logo=0&amp;related=0"  %}
    {% include 'core/includes/video-archive/video-gallery-tv.html' with articles=articles %}
{% endwith %}

<!-- Subscribe -->
{% block subscribe %}
    {% include "core/includes/base/subscribe.html" %}
{% endblock %}