{% load static from staticfiles %}
{% load wagtailcore_tags wagtailimages_tags custom_tags %}

{% if parametro %}
    <section id="latest-news" class="latest-news">
        <div class="container">
            <h2 class="headings">Noticias recientes</h2>
            <div class="scroll">
                {% for article in articles %}
                    <article class="news-block">
                        <h3 class="headings category"><a href="{% pageurl_custom article.categoria %}">{{ article.categoria }}</a></h3>
                        <div class="meta-data">
                            <time datetime="{{ article.first_published_at|time_filter_custom }}">
                                <span class="icon-clock"><!-- icon --></span>
                                <span class="text">{{ article.first_published_at|time_filter_custom }}</span>
                            </time>
                        </div>
                        <a href="{% pageurl_custom article %}" class="image-container">
                            {% image article.photo fill-220x136 as tmp_photo %}
                            <img src="{% static 'images/defer.png' %}" data-src="{{ tmp_photo.url }}" alt="{{ article.titulo }}">
                        </a>
                        <h6 class="title"><a href="{% pageurl_custom article %}">{{ article.titulo }}</a></h6>
                    </article>
                {% endfor %}
            </div>
        </div>
    </section>
{% endif %}