{% load static from staticfiles %}
{% load wagtailcore_tags wagtailimages_tags custom_tags %}

{% if parametro %}
    <section id="related-news" class="related-news">
        <div class="container">
            <div class="row">
                <h2 class="eight columns offset-by-two headings">
                    <a href="{% pageurl_custom categoria %}">Más {{ categoria }}</a>
                </h2>
            </div>
            {% for article in articles %}
                <article class="row">
                    <div class="three columns offset-by-two">
                        <a href="{% pageurl_custom article %}" class="image-container">
                            {% image article.photo fill-220x136 as tmp_photo_desktop %}
                            {% image article.photo fill-80x80 as tmp_photo_mobile %}
                            <picture>
                                <source srcset="{% static 'images/defer.png' %}" data-src="{{ tmp_photo_desktop.url }}" media="(min-width: 550px)">
                                <source srcset="{% static 'images/defer.png' %}" data-src="{{ tmp_photo_mobile.url }}">
                                <img src="{% static 'images/defer.png' %}" data-src="{{ tmp_photo_desktop.url }}" alt="{{ article.titulo }}">
                            </picture>
                        </a>
                    </div>
                    <div class="five columns">
                        <div class="meta-data">
                            <time datetime="{{ article.first_published_at|time_filter_custom }}">
                                <span class="icon-clock"><!-- icon --></span>
                                <span class="text">{{ article.first_published_at|time_filter_custom }}</span>
                            </time>
                        </div>
                        <h6 class="title"><a href="{% pageurl_custom article %}">{{ article.title }}</a></h6>
                        <p class="paragraph">{{ article.newsarticles.introduction|default_if_none:""|truncatewords:17 }}</p>
                    </div>
                </article>
            {% endfor %}
        </div>
    </section>
{% endif %}