{% load static from staticfiles %}
{% load wagtailimages_tags %}

<div class="blockquote">
    <blockquote>
        <div class="left">
            <span class="vertical-align"><!-- span to help content be vertically aligned --></span>
            {% image block.value.photo_author fill-150x150-c60 as tmp_photo %}
            <img src="{% static 'images/defer.png' %}" data-src="{{ tmp_photo.url }}" width="{{ tmp_photo.width }}" height="{{ tmp_photo.height }}" alt="{{ block.value.photo_author }}" />
        </div>
        <div class="right">
            <span class="icon-quote-left"><!-- icon --></span>
            <p>{{ block.value.quote }}</p>
            <span class="author">{{ block.value.author }}</span>
        </div>
    </blockquote>
</div>
