{% load static from staticfiles %}
{% load wagtailcore_tags wagtailimages_tags custom_tags %}

<div class="image">
    {% image block.value width-628 as tmp_photo_large %}
    {% image block.value width-468 as tmp_photo_medium %}
    {% image block.value width-288 as tmp_photo_small %}

    <a href="{{ block.value.file.url }}" target="_blank">
        <picture>
            <source srcset="{{ tmp_photo_large.url }}" media="(min-width: 750px)">
            <source srcset="{{ tmp_photo_medium.url }}" media="(min-width: 550px)">
            <source srcset="{{ tmp_photo_small.url }}">
            <img src="{% static 'images/defer.png' %}" data-src="{{ tmp_photo_large.url }}" alt="Foto.">
        </picture>
    </a>
</div>