{% load static wagtailimages_tags %}

<div class="panorama">
    <div class="panorama">
        {% image block.value fill-1920x650 as tmp_photo_more_than_1920 %}
        {% image block.value fill-1440x590 as tmp_photo_more_than_1440 %}
        {% image block.value fill-1366x490 as tmp_photo %}
        {% image block.value fill-750x390 as tmp_photo_tablet %}
        {% image block.value fill-400x290 as tmp_photo_phablet %}
        {% image block.value fill-320x240 as tmp_photo_mobile %}

        <a href="{{ block.value.file.url }}" target="_blank">
            <picture>
                <source media="(min-width: 1920px)" srcset="{{ tmp_photo_more_than_1920.url }}">
                <source media="(min-width: 1440px)" srcset="{{ tmp_photo_more_than_1440.url }}">
                <source media="(min-width: 1000px)" srcset="{{ tmp_photo.url }}">
                <source media="(min-width: 750px)" srcset="{{ tmp_photo_tablet.url }}">
                <source media="(min-width: 400px)" srcset="{{ tmp_photo_phablet.url }}">
                <source srcset="{{ tmp_photo_mobile.url }}">
                <img src="{% static 'images/defer.png' %}" data-src="{{ tmp_photo.url }}" alt="Foto.">
            </picture>
        </a>
    </div>
</div>