<!-- Alexa Certify Javascript -->
<script type="text/javascript">
    function alexa(){
        _atrk_opts = { atrk_acct:"lMryg1awO700y+", domain:"elnoticiero.com.ec",dynamic: true};

        var as = document.createElement('script');
        as.type = 'text/javascript';
        as.async = true;
        as.src = "https://d31qbv1cthcecs.cloudfront.net/atrk.js";

        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(as, s);
    }

    window.onload = alexa();
</script>

<noscript>
    <img src="https://d5nxst8fruw4z.cloudfront.net/atrk.gif?account=lMryg1awO700y+" style="display:none" height="1" width="1" alt="" />
</noscript>