<script type="application/javascript">
    /**
     * Created by Eduardo on 17/1/16.
     */

    // Media query
    var mediaQuery = window.matchMedia('(min-width: 770px)');
    var currentWidth = 0;

    // Content and streamfields
    var content = document.getElementById('content');
    var contentArray = document.querySelectorAll('.streamfields > div');

    // sC = sub containers div id's
    var subContainer1 = document.createElement('div');
    var subContainer2 = document.createElement('div');
    var sCArray = [subContainer1, subContainer2];
    var sCIndex = 0;

    // cAds = Combo ads div id's
    var cAdsArray = [
      document.getElementById('combo-ads-1'),
      document.getElementById('combo-ads-2')
    ];
    var cAdsIndex = 0;

    // init
    subContainer1.id = 'sub-container-1';
    subContainer1.classList.add('container');
    subContainer1.innerHTML =
      '<div class="eight columns"></div>' +
      '<div class="four columns"></div>';

    subContainer2.id = 'sub-container-2';
    subContainer2.classList.add('container');
    subContainer2.innerHTML =
      '<div class="eight columns"></div>' +
      '<div class="four columns"></div>';


    selectLayout();

    // Add media query event listener
    window.addEventListener('resize', selectLayout);

    // Functions
    function selectLayout() {
      'use strict';

      if (currentWidth !== window.innerWidth) {
        currentWidth = window.innerWidth;

        if (mediaQuery.matches) {
          multiColumnLayout();
        } else {
          singleColumnLayout();
        }
      }
    }

    function singleColumnLayout() {
      'use strict';

      var length = contentArray.length;

      // we put all the content in order according to the contents array list.
      for (var i = 0; i < length; i++) {
        content.appendChild(contentArray[i]);
      }
    }

    function multiColumnLayout() {
      'use strict';

      sCIndex = 0;
      cAdsIndex = 0;

      var length = contentArray.length ;

      // put streamfields
      for (var i = 0; i < length; i++) {
        if (
            contentArray[i].classList.contains('blockquote') ||
            contentArray[i].classList.contains('panorama')
        ) {
          content.appendChild(contentArray[i]);

          if (sCArray[0].querySelectorAll('.eight > div').length > 0) {
            sCIndex = 1;
          }

        } else {
          sCArray[sCIndex].firstElementChild.appendChild(contentArray[i]);

          content.appendChild(sCArray[sCIndex]);
        }
      }

      // put ads
      // Case 1: sub-container-1 has more than 1 streamfields but sub-container-2 has none.
      // Case 2: sub-container-1 has more than 1 streamfield and sub-container-2 also has more than 1.
      // Case 3: No sub containers had been used. Put both ads at the end.
      var sC1Length = subContainer1.querySelectorAll('.eight > div').length;
      var sC2Length = subContainer2.querySelectorAll('.eight > div').length;

      if (sC1Length > 0 && sC2Length === 0) {
        subContainer1.lastElementChild.appendChild(cAdsArray[0]);
        subContainer1.lastElementChild.appendChild(cAdsArray[1]);
      } else if (sC1Length > 0 && sC2Length > 0) {
        subContainer1.lastElementChild.appendChild(cAdsArray[0]);
        subContainer2.lastElementChild.appendChild(cAdsArray[1]);
      } else {
        content.appendChild(cAdsArray[0]);
        content.appendChild(cAdsArray[1]);
      }
    }

</script>