<script type="application/javascript">
    /**
     * Created by Eduardo on 1/2/16.
     */

    // Media query
    var mediaQuery = window.matchMedia('(min-width: 770px)');
    var currentWidth = 0;

    var adsContainer = document.createElement('div');

    // Ads
    var mediumRectangle1 = document.getElementById('medium-rectangle-1');
    var mediumRectangle2 = document.getElementById('medium-rectangle-2');
    var adButton1 = document.getElementById('button-ad-1');
    var adButton2 = document.getElementById('button-ad-2');

    // Sections to place ads
    var streamfields = document.getElementById('content');
    var relatedNews = document.getElementById('related-news').getElementsByClassName('container')[0];
    var latestNews = document.getElementById('latest-news').getElementsByClassName('container')[0];


    adsContainer.id = 'adsContainer';
    adsContainer.classList.add('container');
    adsContainer.innerHTML =
      '<div class="four columns"></div>' +
      '<div class="four columns"></div>' +
      '<div class="four columns"></div>';

    streamfields.appendChild(adsContainer);

    selectLayout();
    window.addEventListener('resize', selectLayout);

    // Functions
    function selectLayout() {
      'use strict';

      if (currentWidth !== window.innerWidth) {
        currentWidth = window.innerWidth;

        if (mediaQuery.matches) {
          desktopLayout();
        } else {
          mobileLayout();
        }
      }
    }

    function mobileLayout(){
      'use strict';

      adsContainer.children[0].appendChild(mediumRectangle1);
      relatedNews.appendChild(adButton1);

      latestNews.appendChild(mediumRectangle2);
      latestNews.appendChild(adButton2);
    }

    function desktopLayout(){
      'use strict';

      adsContainer.children[0].appendChild(mediumRectangle1);
      adsContainer.children[1].appendChild(mediumRectangle2);

      adsContainer.children[2].appendChild(adButton1);
      adsContainer.children[2].appendChild(adButton2);
    }
</script>