<script type="application/javascript">
    var popup = document.getElementById("popup");
    var btn_submit = document.getElementById("btn-subscribe");
    var path = "/noticias";
    var close = document.getElementById("close");
    var message_error = document.getElementsByClassName("error-message")[0];

    // AJAX
    function create_get() {
        var page = document.getElementById('page').value;
        var email = document.getElementById("id_email").value;
        var url = "{% url 'administracion:mailing_get' %}";
        var data = "email="+email+"&"+"page="+page;
        var xhr = new XMLHttpRequest();
        xhr.open('GET', encodeURI(url+"?"+data), true);
        xhr.onload = function() {
            var result = JSON.parse(xhr.responseText);
            if (xhr.status >= 200 && xhr.status < 400) {
                if(result.status == '0'){
                    /* Mensaje en el modal que indica formato inválido de correo */
                    message_error.innerHTML = '<p>'+result.result+'</p>';
                }else{
                    //Proceso OK del suscribe en este caso setCokie
                    setCookie('email', result.email, 365, path);
                    // Ocultar el modal form
                    popup.style.display = "none";
                }
            }else{
                console.log('Request failed.  Returned status of ' + xhr.status);
            }
        };
        xhr.send(encodeURI(data));
    }

    function overlay(){

      if (checkCookie()){
           popup.style.display = "none";
      }else{
           setTimeout(appear, 2000);
      }
    }
    function appear() {
      popup.style.display = "block";
      setTimeout(appearCloseBtn, 2500);
    }
    function appearCloseBtn(){
      close.style.display = "block";
    }

    function setCookie(cname,cvalue,exdays, path) {
        var d = new Date();
        d.setTime(d.getTime() + (exdays*24*60*60*1000));
        var expires = "expires=" + d.toGMTString();
        document.cookie = cname+"="+cvalue+"; "+expires+"; path="+path;
    }
    function getCookie(cname) {
        var name = cname + "=";
        var ca = document.cookie.split(';');
        for(var i=0; i<ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0)==' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }
    function checkCookie() {
        var email=getCookie("email");
        if (email != "") {
            return true;
        }else {
            return false;
        }
    }

    window.onload = overlay();

    btn_submit.onclick = function() {
      create_get();
    };
    close.onclick = function() {
      popup.style.display = "none";
    };
</script>