{% load static from staticfiles %}
{% load wagtailuserbar custom_tags compress %}
{% load wagtailcore_tags tags_home %}
{% get_site_root as site_root %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="google-site-verification" content="5vyh31k9ccCqHQw6ew8UUAqiTLLJJKaRdn4qWZSPnZw" />
        {% block meta-descriptions %}
            <meta name="description" content="Información en tiempo real en: Crónica, Deportes, Entretenimiento,
            Economía, Ciencia y Tecnología y más. La verdad de la noticia sólo en elnoticiero.com.ec">
        {% endblock %}
        <meta name="keywords" content="TC Televisión, El Noticiero, Noticias, Ecuador, Crónica, Deportes,
                                        Comunidad, Política, Economía, Ciencia y Tecnología, Entretenimiento">
        {% block meta-social-share %}{% endblock %}
        <title>
            {% block title %}
                {% if self.seo_title %}
                    {{ self.seo_title }}
                    {% else %}
                    {{ self.title }}
                {% endif %}
            {% endblock %}
            {% block title_suffix %}{% endblock %}
        </title>

        {% block canonical %}{% endblock %}
        <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}">
        <!-- CSS -->
        <!-- font loading -->
        <style type="text/css">
            @font-face{font-family:"Charis SIL Regular";src:url(/static/fonts/charis-sil/charis-sil.woff2) format("woff2"),url(/static/fonts/charis-sil/charis-sil.woff) format("woff"),url(../static/fonts/charis-sil/charis-sil.ttf) format("truetype")}@font-face{font-family:"Proxima Nova Light";src:url(../static/fonts/proxima-nova/proxima-nova-light.woff2) format("woff2"),url(../static/fonts/proxima-nova/proxima-nova-light.woff) format("woff"),url(../static/fonts/proxima-nova/proxima-nova-light.ttf) format("truetype")}@font-face{font-family:"Proxima Nova S Medium";src:url(../static/fonts/proxima-nova-s/proxima-nova-s-medium.woff2) format("woff2"),url(../static/fonts/proxima-nova-s/proxima-nova-s-medium.woff) format("woff"),url(../static/fonts/proxima-nova-s/proxima-nova-s-medium.ttf) format("truetype")}@font-face{font-family:icomoon;src:url(../static/fonts/icomoon/icomoon.woff2) format("woff2"),url(/static/fonts/icomoon/icomoon.woff) format("woff"),url(/static/fonts/icomoon/icomoon.ttf) format("truetype");font-weight:400;font-style:normal}
        </style>
        <!-- inline style -->
        {% block extra-css %}{% endblock %}

        <!-- JS -->
        <!-- Google DoubleClick for Publishers -->
        {% include 'core/ads/ads-googletag.html' %}
        {% block js-head %}
        {% endblock %}
    </head>
    <body>
         {% block ads_leaderboard_header %}
            {% include 'core/ads/leaderboard.html' %}
         {% endblock %}

         {% block header %}
            {% include 'core/includes/base/header.html' with page=self %}
         {% endblock %}

         {% block localizacion %}{% endblock %}
         {% block events %}{% endblock %}

        {% block content %}
            {% block main_news %}{% endblock %}
            {% block ads_fullbanners %}{% endblock %}
            {% block on_screen %}{% endblock %}
            {% block other_news %}{% endblock %}
            {% block twitter %}{% endblock %}
            {% block subscribe %}{% endblock %}
        {% endblock %}

        {% block footer %}
            {% include 'core/includes/base/footer.html' %}
        {% endblock %}


         {% block js-external %}
             <!-- JS -->
             <!-- First class: Obligatory scripts to display the web page -->
             {% include 'core/js/core.html' %}
             {% include 'core/js/menu-toggle-handler.html' %}
             <!-- Second class: without it some sections of the page breaks -->
             {% include 'core/js/social-share.html' %}
             <!-- Third class: We externally load JS after loading de the page -->
             {% include 'core/js/alexa-page-rank.html' %}
             <!-- Third class: We externally load JS after loading de the page -->
             {% include 'core/js/google-analytics.html' %}
         {% endblock %}

         <!-- Extra scripts -->
         <!-- TailTarget Tag Manager TT-12307-2/CT-922 -->
         <script>
            (function(i) {
                var ts = document.createElement('script');
                ts.type = 'text/javascript';
                ts.async = true;
                ts.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'tags.t.tailtarget.com/t3m.js?i=' + i;
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(ts, s);
            })('TT-12307-2/CT-922');
         </script>
         <!-- End TailTarget Tag Manager -->
         {% block extra_js %}{% endblock %}
    </body>
</html>