{% load static from staticfiles %}
{% load custom_tags %}
{% load wagtailcore_tags tags_home %}
{% get_site_root as site_root %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block meta-social-share %}{% endblock %}
        <title>{% block title %}{% endblock %}</title>
        <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}">
        <link rel="stylesheet" href="{% static 'css/publications-copy.css' %}">
        <!-- CSS -->
        {% block extra-css %}{% endblock %}
        <script src="{% static 'js/vendor/modernizrFormInputType.min.js' %}"></script>
        <script src="{% static 'js/vendor/moment.min.js' %}"></script>
        <script src="{% static 'js/vendor/pickADay.js' %}"></script>
    </head>
    <body>
        {% block content %}
        {% endblock %}
        {% block extra_js %}
        {% endblock %}
    </body>
</html>
