{% load static custom_tags wagtailimages_tags %}
<!DOCTYPE html>
<html lang="es">
<title>News iframe</title>
<head>
    <link rel="stylesheet" href="{% static 'css/overlayStyle.css' %}">
</head>

<body style="overflow: hidden;">
	<section class="main-news {{ clase }}">
        {% if flag == 1 %}
		    <div class="header">{{ articles.0.categoria }}</div>
        {% else %}
            <div class="header">{{ articles.0.localizacion }}es</div>
        {% endif %}
		<a href="{{ articles.0.full_url }}" target="_top">
            {% image articles.0.photo fill-300x150 as tmp_photo %}
            <img class="image" src="{{ tmp_photo.url }}" alt="{{ articles.0.titulo }}" />
		</a>
		<div class="text">
            <h1>{{ articles.0 }}</h1>
            <p>{{ articles.0.introduction|default_if_none:""|smarttruncatechars:120 }}</p>
            <div class="text-overlay {{ clase }}"></div>
		</div>
		<a href="{{ articles.1.full_url }}" target="_top">
			<div class="secondary-news">{{ articles.1 }}</div>
		</a>
		<a href="{{ articles.2.full_url }}" target="_top">
			<div class="secondary-news">{{ articles.2 }}</div>
		</a>
	</section>
</body>
</html>