{% load tags_home wagtailcore_tags %}
{% get_site_root as site_root %}

<nav>
    {% for menuitem in categories %}
        <a class="categories" href="{% pageurl menuitem %}">{{ menuitem.title }}</a>
    {% endfor %}
</nav>