{% load tags_home wagtailcore_tags custom_tags %}
{% get_site_root as site_root %}

<div hidden id="menu-mobile" class="menu-mobile">
    <div class="location">
        <h3 class="headings">Mostrar noticias</h3>
        {% if page.depth != 5 %}
            <ul>
                <li><a href="/">Todas</a></li>
                <li><a href="?localizacion=1">Nacionales</a></li>
                <li><a href="?localizacion=2">Internacionales</a></li>
            </ul>
        {% endif %}
    </div>
    <hr>
    <div class="category">
        <ul>
            {% for menuitem in categories %}
                <li><a href="{% pageurl menuitem %}" class="categories">{{ menuitem.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <hr>
    <div class="shortcuts">
        <ul>
            <li><a href="{% pageurl_slug 'videoteca'  %}"><span class="icon-film"></span>Videoteca</a></li>
        </ul>
    </div>
    <hr>
    <div class="social-links">
        <a class="button-social circle facebook" href="https://www.facebook.com/elnoticierotc/" target="_blank">
            <span class="icon-facebook"><!-- icon --></span>
        </a>
        <a class="button-social circle twitter" href="https://twitter.com/elnoticierotc/" target="_blank">
            <span class="icon-twitter"><!-- icon --></span>
        </a>
        <a class="button-social circle instagram" href="https://instagram.com/elnoticierotc/" target="_blank">
            <span class="icon-instagram"><!-- icon --></span>
        </a>
    </div>
</div>