.wagtail-userbar {
    opacity: 1 !important;
    background: red;
}


.hallotoolbar .hallowagtailimage {
    display: none;
}

.hallotoolbar .hallowagtailembeds {
    display: none;
}

.hallotoolbar .hallowagtaildoclink {
    display: none;
}

.object > h2:before, .object > h2 label:before {
    background-color: #fcf2f2;
    content: "";
}

.link-types{
    display: table;
}

.link-types :nth-child(1) {
    display: table-footer-group;
    float: right;
}

.link-types :nth-child(2) {
    float: left;
    display: table-header-group;
}

.link-types :nth-child(3) {
    display: none;
}

.richtext > div {
    margin-bottom: 20px;
}

/* Trouble for page chooser and wagtaillink
div .nice-padding{
    display: none;
}*/

p.help{
    color: red;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
}