{% load static from staticfiles %}
{% load custom_tags wagtailcore_tags wagtailimages_tags %}

{% block main_news %}
    <section class="main-news-4">
        <div class="grid">
            {% for article in articles|slice:"0:4" %}
                {% image article.photo width-400 as tmp_photo %}
                <article class="news-block" style="background: url('{{ tmp_photo.url }}') no-repeat center;">
                    <a href="{% pageurl_custom article %}">
                        <h2 class="title">{{ article.title|smarttruncatechars:55 }}</h2>
                        <p hidden class="author">Por {{ request.user.username }}</p>
                        <img hidden src="{% static 'images/defer.png'%}" data-src="{{ tmp_photo.url }}"
                             alt="{{ article.titulo }}">
                    </a>
                </article>
            {% empty %}
            {% endfor %}
        </div>
        <div class="scroll">
            {% for article in articles|slice:"1:4" %}
                {% image article.photo fill-320x180 as tmp_photo %}
                <article class="news-block" style="background: url('{{ tmp_photo.url }}') no-repeat center;">
                    <a href="{% pageurl_custom article %}">
                        <h2 class="title">{{ article.title|smarttruncatechars:55 }}</h2>
                        <p hidden class="author">Por {{ request.user.username }}</p>
                        <img hidden src="{% static 'images/defer.png'%}" data-src="{{ tmp_photo.url }}"
                             alt="{{ article.titulo }}">
                    </a>
                </article>
            {% empty %}
            {% endfor %}
        </div>
    </section>
{% endblock %}

{% block ads_fullbanners %}
    {% include 'core/ads/full-banners.html' %}
{% endblock %}

{% block other_news %}
    {% if articles %}
        <section class="other-news-mini">
            <div class="container">
                <div class="row gallery-grid">
                    <!-- First Row -->
                    {% for article in articles|slice:"4:6" %}
                        {% include "core/tags/news-category/other-news/news-block.html" %}
                    {% endfor %}
                    {% include "core/ads/combo1.html" %}

                    <!-- Second Row -->
                    {% for article in articles|slice:"6:8" %}
                        {% include "core/tags/news-category/other-news/news-block.html" %}
                    {% endfor %}
                    {% include "core/ads/combo2.html" %}

                    <!-- Third Row -->
                    {% for article in articles|slice:"8:11" %}
                        {% include "core/tags/news-category/other-news/news-block.html" %}
                    {% endfor %}

                </div>

                <div id="gallery-grid" class="row gallery-grid load"></div>

                {% if parametro %}
                    <div class="row load-more">
                        <button class="button button-wide" onclick="loadMore()">
                            <span class="icon-down"><!-- icon --></span>
                            <span class="text">Cargar más</span>
                        </button>
                    </div>
                {% endif %}
            </div>
        </section>
    {% endif %}
{% endblock %}



