<script async='async' src='https://www.googletagservices.com/tag/js/gpt.js'></script>
<script>
  var googletag = googletag || {};
  googletag.cmd = googletag.cmd || [];
</script>

<script>
  googletag.cmd.push(function() {
    googletag.defineSlot('/275973243/EN_Full_banner_1', [468, 60], 'div-gpt-ad-1469812747521-0').addService(googletag.pubads());
    googletag.defineSlot('/275973243/EN_Full_banner_2', [468, 60], 'div-gpt-ad-1469812747521-1').addService(googletag.pubads());
    googletag.defineSlot('/275973243/EN_Leaderboard', [[728, 90], [960, 380]], 'div-gpt-ad-1469812747521-2').addService(googletag.pubads());
    googletag.defineSlot('/275973243/EN_Medium_Rectangle_1', [300, 250], 'div-gpt-ad-1469812747521-3').addService(googletag.pubads());
    googletag.defineSlot('/275973243/EN_Medium_Rectangle_2', [300, 250], 'div-gpt-ad-1469812747521-4').addService(googletag.pubads());
    googletag.defineSlot('/275973243/EN_Button_1', [300, 60], 'div-gpt-ad-1469812747521-5').addService(googletag.pubads());
    googletag.defineSlot('/275973243/EN_Button_2', [300, 60], 'div-gpt-ad-1469812747521-6').addService(googletag.pubads());
    googletag.pubads().enableSingleRequest();
    googletag.enableServices();
  });
</script>
