<div id="button-ad-1" class="ads button-ad">
    <!-- /275973243/EN_Button_1 -->
    <div id='div-gpt-ad-1469812747521-5' style='height:60px; width:300px;'>
        <script>
            googletag.cmd.push(function() { googletag.display('div-gpt-ad-1469812747521-5'); });
        </script>
    </div>
</div>