<div id="button-ad-2" class="ads button-ad">
    <!-- /275973243/EN_Button_2 -->
    <div id='div-gpt-ad-1469812747521-6' style='height:60px; width:300px;'>
        <script>
            googletag.cmd.push(function() { googletag.display('div-gpt-ad-1469812747521-6'); });
        </script>
    </div>
</div>