{% load static from staticfiles %}


<div class="ads full-banners {{ class }}">
    <!--
        SITE: elnoticiero home
        AD UNIT: 468x60 unit - El Noticiero
        AD SIZE(S): 468x60
    -->
    <div class="full-banner" style="margin-right: 24px;">
        <!-- /275973243/EN_Full_banner_1 -->
        <div id='div-gpt-ad-1469812747521-0'>
            <script>
                googletag.cmd.push(function() { googletag.display('div-gpt-ad-1469812747521-0'); });
            </script>
        </div>
    </div>

    <!--
        SITE: elnoticiero home
        AD UNIT: 468x60 unit 2 - El Noticiero
        AD SIZE(S): 468x60
     -->
    <div class="full-banner">
        <!-- /275973243/EN_Full_banner_2 -->
        <div id='div-gpt-ad-1469812747521-1'>
            <script>
                googletag.cmd.push(function() { googletag.display('div-gpt-ad-1469812747521-1'); });
            </script>
        </div>
    </div>

</div>