<!-- /275973243/EN_Leaderboard -->
<div class="ads leaderboard">
    <div id='div-gpt-ad-1469812747521-2'>
        <script>
            googletag.cmd.push(function() { googletag.display('div-gpt-ad-1469812747521-2'); });
        </script>
    </div>
</div>
