<div id="medium-rectangle-2" class="ads medium-rectangle">
    <!-- /275973243/EN_Medium_Rectangle_2 -->
    <div id='div-gpt-ad-1469812747521-4' style='height:250px; width:300px;'>
        <script>
            googletag.cmd.push(function() { googletag.display('div-gpt-ad-1469812747521-4'); });
        </script>
    </div>
</div>