<!---
<section class="date-search">
    <div class="container">
        <span class="icon-clock"></span>
        <h3>¿Buscas algún video en específico?</h3>
        <p>Selecciona una fecha y encuéntralo:</p>
        <form class="form" method="GET">
            <input type="date"  placeholder="Dia/mes/año" id="DateSearchInput" value="{{ request.GET.q }}" name="q">
            <button>
                <span class="icon-clock"></span>
                <span class="text">Buscar</span>
            </button>
        </form>
    </div>
</section>
--->
