{% load static from staticfiles %}
{% load custom_tags wagtailimages_tags %}

<section class="video-gallery">
    <header class="container section-header">
        <h2 class="headings">En pantalla</h2>
        <div class="triangle">
            <img src="{% static 'images/defer.png' %}" data-src="{% static 'images/on-screen/triangle.svg' %}"
                 alt="Ornamento en forma de triángulo del título">
        </div>
    </header>
    <div class="container">
        <div class="row gallery-grid">
            {% for article in articles|slice:":2" %}
                {% include 'core/tags/video-archive/gallery-video/video-thumb.html' %}
            {% endfor %}
            {% include "core/ads/combo1.html" %}

            {% for article in articles|slice:"2:4" %}
                {% include 'core/tags/video-archive/gallery-video/video-thumb.html' %}
            {% endfor %}
            {% include "core/ads/combo2.html"  %}

            {% for article in articles|slice:"4:7" %}
                {% include 'core/tags/video-archive/gallery-video/video-thumb.html' %}
            {% endfor %}
        </div>

        <div id="gallery-grid"  class="row gallery-grid load"></div>

        {% if parametro %}
            <div class="row load-more">
                <button class="button button-wide" onclick="loadMore()">
                    <span class="icon-down"><!-- icon --></span>Cargar más
                </button>
            </div>
        {% endif %}

    </div>
</section>