{% load custom_tags  %}

<section class="video-player">
    <div class="container">
        <div class="row">
            <div class="video-container">
                <iframe id="iframe-video" width="16" height="9" data-src="//www.dailymotion.com/embed/video/{{ article.video|get_code_format_video }}?html=true&amp;info=0&amp;logo=0&amp;related=0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="row">
            {% include 'core/includes/base/social-media.html' with parent_class="four columns" class="tab-inverted" utm="video-archive" %}
            <header class="eight columns">
                <h3 class="title-video"><a href="{% pageurl_custom article %}">{{ article.title }}</a></h3>
                <div class="meta-data">
                    <time datetime="2015-09-19">
                        <span class="icon-clock"><!-- icon --></span>
                        <span class="date-metadata text">{{ article.first_published_at|time_filter_custom }}</span>
                    </time>
                </div>
            </header>
        </div>
        <div class="row">
            <p></p>
        </div>
    </div>
</section>