{% load static from staticfiles %}
{% load custom_tags wagtailcore_tags wagtailimages_tags %}

<article class="news-block columns">
    <h3 class="headings"><a href="{% pageurl_custom article.categoria %}">{{ article.categoria }}</a></h3>
    <a href="{% pageurl_custom article %}" class="image-container">
        {% image article.photo fill-255x157-c25 as tmp_photo %}
        <img class="image" src="{% static 'images/defer.png' %}" data-src="{{ tmp_photo.url }}" alt="{{ article.titulo }}" />
    </a> 
    <h4><a href="{% pageurl_custom article %}">{{ article.title|smarttruncatechars:75 }}</a></h4>
    <p class="paragraph">
        {{ article.introduction|default_if_none:""|truncatewords:125|linebreaks }}
    </p>
    <footer>
        <div class="meta-data">
            <span hidden class="author"> |</span>
            <time datetime="2015-08-15 11:38">
                <span class="icon-clock"><!-- icon --></span>
                {{ article.first_published_at|date:"F d, Y" }}
            </time>
        </div>
        {% include 'core/includes/base/social-media.html' with article=article class="tab small" utm='home-other-news' only %}
    </footer>
</article>