{% extends "base.html" %}
{% load staticfiles custom_tags wagtailimages_tags %}

{% block meta-descriptions %}
    <meta name="description" content="{{ self.title }}">
{% endblock %}

{% block canonical %}
    <link rel="canonical" href="{{ self.full_url }}" />
{% endblock %}

{% block meta-social-share %}
    <!-- Facebook share meta data -->
    <meta property="og:url"             content="http://{{ request.get_host }}{{ self.url }}" />
    <meta property="og:type"            content="Artículo Pantalla 1" />
    <meta property="og:title"           content="{{ self.title }}" />
    {% if self.introduction %}
        <meta property="og:description"     content="{{ self.introduction }}" />
    {% else %}
        <meta property="og:description"     content="{{ self.title }}" />
    {% endif %}
    <meta property="og:site_name"       content="DeBocaEnBoca" />
    {% image self.photo fill-1024x512 as tmp_photo %}
    <meta property="og:image"           content="http://{{ request.get_host }}/{{ self.photo_fb_share }}" />
    <meta property="fb:app_id"          content="245391072463542" />

    <!-- Twitter card meta data -->
    <meta name="twitter:card"           content="summary_large_image">
    <meta name="twitter:site"           content="@DeBocaEnBocaTC">
    <meta name="twitter:title"          content="{{ self.title }}">
    {% image self.photo fill-1200x630 as tmp_photo2 %}
    {% if self.introduction %}
        <meta name="twitter:description"    content="{{ self.introduction|truncatewords:170 }}" >
    {% else %}
        <meta name="twitter:description"    content="{{ self.title|truncatewords:170 }}" >
    {% endif %}
    <meta name="twitter:image"          content="http://{{ request.get_host }}/{{ self.photo_tw_share }}">
    <meta name="twitter:url"          content="http://{{ request.get_host }}{{ self.url }}">
{% endblock %}

{% block extra-css %}
    <style>
        @charset "UTF-8";img,legend{border:0}pre,textarea{overflow:auto}.container,.image-container,sub,sup{position:relative}@font-face{font-family:"Gotham Black";src:url(/static/fonts/gotham-black/gotham-black.ttf) format("ttf")}@font-face{font-family:"Gotham Bold";src:url(/static/fonts/gotham-bold/gotham-bold.ttf) format("ttf")}@font-face{font-family:"Gotham Light";src:url(/static/fonts/gotham-light/gotham-light.otf) format("otf")}@font-face{font-family:"Charis SIL Regular";src:url(/static/fonts/charis-sil/charis-sil.woff2) format("woff2"),url(/static/fonts/charis-sil/charis-sil.woff) format("woff"),url(/static/fonts/charis-sil/charis-sil.ttf) format("truetype")}@font-face{font-family:"Proxima Nova Light";src:url(/static/fonts/proxima-nova/proxima-nova-light.woff2) format("woff2"),url(/static/fonts/proxima-nova/proxima-nova-light.woff) format("woff"),url(/static/fonts/proxima-nova/proxima-nova-light.ttf) format("truetype")}@font-face{font-family:"Proxima Nova S Medium";src:url(/static/fonts/proxima-nova-s/proxima-nova-s-medium.woff2) format("woff2"),url(/static/fonts/proxima-nova-s/proxima-nova-s-medium.woff) format("woff"),url(/static/fonts/proxima-nova-s/proxima-nova-s-medium.ttf) format("truetype")}@font-face{font-family:icomoon;src:url(/static/fonts/icomoon/icomoon.woff2) format("woff2"),url(/static/fonts/icomoon/icomoon.woff) format("woff"),url(/static/fonts/icomoon/icomoon.ttf) format("truetype");font-weight:400;font-style:normal}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background-color:transparent}a:active,a:hover{outline:0}abbr[title]{border-bottom:1px dotted}b,optgroup,strong{font-weight:700}dfn{font-style:italic}h1{margin:.67em 0}mark{background:#ff0;color:#000}sub,sup{font-size:75%;line-height:0;vertical-align:baseline}.button-wide,.button-wide .text,.image-container{vertical-align:middle}sup{top:-.5em}sub{bottom:-.25em}svg:not(:root){overflow:hidden}figure{margin:1em 40px}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}body,h6{line-height:1.6}button{overflow:visible}button,select{text-transform:none}input[type=reset],input[type=submit]{-webkit-appearance:button}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=date]{border:1px solid}input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}input[type=search]{-moz-box-sizing:content-box;-webkit-box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}fieldset{border:1px solid silver;margin:0 2px}legend{padding:0}table{border-collapse:collapse;border-spacing:0}.container{width:100%;max-width:960px;margin:0 auto;padding:0 20px;-webkit-box-sizing:border-box;box-sizing:border-box}ol,p,ul{margin-top:0}.column,.columns{width:100%;float:left;-webkit-box-sizing:border-box;box-sizing:border-box}@media (min-width:400px){.container{width:85%;padding:0}}html{font-size:62.5%}body{font-size:1.5em;font-weight:400}h1,h2,h3,h4,h5,h6{margin-top:0;margin-bottom:2rem}h5{font-size:1.8rem;line-height:1.5}h6{font-size:1.5rem}@media (min-width:550px){.container{width:80%}.column,.columns{margin-left:4%}.column:first-child,.columns:first-child{margin-left:0}.one.column,.one.columns{width:4.66667%}.two.columns{width:13.33333%}.three.columns{width:22%}.four.columns{width:30.66667%}.five.columns{width:39.33333%}.six.columns{width:48%}.seven.columns{width:56.66667%}.eight.columns{width:65.33333%}.nine.columns{width:74%}.ten.columns{width:82.66667%}.eleven.columns{width:91.33333%}.twelve.columns{width:100%;margin-left:0}.one-third.column{width:30.66667%}.two-thirds.column{width:65.33333%}.one-half.column{width:48%}.offset-by-one.column,.offset-by-one.columns{margin-left:8.66667%}.offset-by-two.column,.offset-by-two.columns{margin-left:17.33333%}.offset-by-three.column,.offset-by-three.columns{margin-left:26%}.offset-by-four.column,.offset-by-four.columns{margin-left:34.66667%}.offset-by-five.column,.offset-by-five.columns{margin-left:43.33333%}.offset-by-six.column,.offset-by-six.columns{margin-left:52%}.offset-by-seven.column,.offset-by-seven.columns{margin-left:60.66667%}.offset-by-eight.column,.offset-by-eight.columns{margin-left:69.33333%}.offset-by-nine.column,.offset-by-nine.columns{margin-left:78%}.offset-by-ten.column,.offset-by-ten.columns{margin-left:86.66667%}.offset-by-eleven.column,.offset-by-eleven.columns{margin-left:95.33333%}.offset-by-one-third.column,.offset-by-one-third.columns{margin-left:34.66667%}.offset-by-two-thirds.column,.offset-by-two-thirds.columns{margin-left:69.33333%}.offset-by-one-half.column{margin-left:52%}.offset-by-two-and-a-half.column,.offset-by-two-and-a-half.columns{margin-left:21.66667%}h1{font-size:5rem}h2{font-size:4.2rem}h3{font-size:3.6rem}h4{font-size:3rem}h5{font-size:2.4rem}h6{font-size:1.5rem}}.button,button,input[type=reset],input[type=submit],input[type=button]{display:inline-block;min-height:38px;padding:0 30px;color:#555;text-align:center;font-size:11px;font-weight:600;line-height:38px;text-transform:uppercase;text-decoration:none;white-space:nowrap;background-color:transparent;border-radius:4px;border:1px solid #bbb;cursor:pointer;box-sizing:border-box}ol,td:first-child,th:first-child,ul{padding-left:0}.button:focus,.button:hover,button:focus,button:hover,input[type=reset]:focus,input[type=reset]:hover,input[type=submit]:focus,input[type=submit]:hover,input[type=button]:focus,input[type=button]:hover{color:#333;border-color:#888;outline:0}.button.button-primary,button.button-primary,input[type=reset].button-primary,input[type=submit].button-primary,input[type=button].button-primary{color:#fff;background-color:#0943A5;border-color:#0943A5}.button.button-primary:hover,button.button-primary:hover,input[type=reset].button-primary:hover,input[type=submit].button-primary:hover,input[type=button].button-primary:hover{color:#fff;background-color:#073685;border-color:#073685}.button.button-primary:focus,button.button-primary:focus,input[type=reset].button-primary:focus,input[type=submit].button-primary:focus,input[type=button].button-primary:focus{color:#fff;background-color:#3D84DD;border-color:#3D84DD}input[type=number],input[type=search],input[type=email],input[type=text],input[type=tel],input[type=url],input[type=password],select,textarea{height:38px;padding:6px 10px;background-color:#fff;border:1px solid #d1d1d1;border-radius:4px;box-shadow:none;box-sizing:border-box}input[type=date],input[type=number],input[type=search],input[type=email],input[type=text],input[type=tel],input[type=url],input[type=password]{-webkit-appearance:none;-moz-appearance:none;appearance:none}textarea{-webkit-appearance:none;-moz-appearance:none;appearance:none;min-height:65px;padding-top:6px;padding-bottom:6px}input[type=date]:focus,input[type=number]:focus,input[type=search]:focus,input[type=email]:focus,input[type=text]:focus,input[type=tel]:focus,input[type=url]:focus,input[type=password]:focus,select:focus,textarea:focus{border:1px solid #0943A5;outline:0}label,legend{display:block;margin-bottom:.5rem;font-weight:600}fieldset{padding:0;border-width:0}input[type=checkbox],input[type=radio]{display:inline}label>.label-body{display:inline-block;margin-left:.5rem;font-weight:400}ul{list-style:circle inside}ol{list-style:decimal inside}ol ol,ol ul,ul ol,ul ul{margin:1.5rem 0 1.5rem 3rem;font-size:90%}.button,button,li{margin-bottom:1rem}td,th{padding:12px 15px;text-align:left;border-bottom:1px solid #e1e1e1}td:last-child,th:last-child{padding-right:0}fieldset,input,select,textarea{margin-bottom:1.5rem}blockquote,dl,figure,form,ol,p,pre,table,ul{margin-bottom:2.5rem}hr{margin-top:3rem;margin-bottom:3.5rem;border-width:0;border-top:1px solid #e1e1e1}.button-wide,h1.headings{margin-bottom:0;text-align:center}.u-full-width{width:100%;box-sizing:border-box}.u-max-full-width{max-width:100%;box-sizing:border-box}.u-pull-right{float:right}.u-pull-left{float:left}.container:after,.row:after,.u-cf{content:"";display:table;clear:both}.ads.full-banners .full-banner,.image-container{display:inline-block}body{color:#333;font-family:"Proxima Nova Light","Helvetica Neue Light",Helvetica,Arial,sans-serif;-webkit-font-smoothing:antialiased;margin:0;padding:0;background-color:#FFF9E5}.facebook:hover,.instagram:hover,.mail:hover,.twitter:hover,.whatsapp:hover{background:#d4c487}img{max-width:100%;height:auto}.article-header,.footer,.latest-news,.latest-tweets,.on-screen,.other-news,.other-news-mini,.related-news,.streamfields,.subscribe,.video-gallery{box-sizing:border-box;-webkit-box-sizing:border-box;padding-top:50px;padding-bottom:30px}.news-info .button-social{display:inline-block;box-sizing:border-box;height:4.4rem;width:33.33%;margin-right:-4px;border-left:solid .1rem;text-align:center}.news-info .button-social:first-child{margin-left:-4px;border-left:solid 0}.facebook,.facebook:hover,.instagram:hover,.mail,.mail:hover,.twitter,.twitter:hover,.whatsapp,.whatsapp:hover{border-color:#d4c487}.news-info .button-social span{font-size:4rem}@media (min-width:1000px){.article-header,.footer,.latest-news,.latest-tweets,.on-screen,.other-news,.other-news-mini,.related-news,.streamfields,.subscribe,.video-gallery{padding-top:60px;padding-bottom:40px}.news-info .button-social{transition:background .15s ease}.button-social.small span{font-size:2.6rem}.button-wide{width:50%;margin-left:25%;transition:background .25s ease}}.facebook{color:#d4c487}.facebook:hover{color:#fff}.twitter{color:#d4c487}.twitter:hover{color:#fff}.instagram{color:#d4c487;border-color:#d4c487}.instagram:hover{color:#fff}.whatsapp{color:#d4c487}.whatsapp:hover{color:#fff}.mail{color:#d4c487}.mail:hover{color:#fff}.circle.facebook:hover{background:0 0;color:#385185;border-color:#385185}.circle.twitter:hover{background:0 0;color:#55acee;border-color:#55acee}.circle.instagram:hover,.circle.whatsapp:hover{background:0 0;color:#2B5B83;border-color:#2B5B83}.circle.mail:hover{background:0 0;color:#52D3C1;border-color:#52D3C1}.button-social.circle{color:#E4E4E4;border-color:#E4E4E4}.button-social.tab{border-bottom:none}.button-social.tab-inverted{border-top:none;font-size:5rem}.button-social.tab-inverted [class*=" icon-"],.button-social.tab-inverted [class^=icon-]{font-size:6rem;text-align:center}.button-wide{min-height:72px;color:#d4c487;border-radius:0;border-width:0;box-shadow:2px 2px 2px rgba(0,0,0,.1);background-color:#fff;font-family:"Gotham Light",arial,sans-serif;font-weight:400;font-size:2.4rem;line-height:72px;letter-spacing:.4rem;text-transform:none}.button-wide [class*=" icon-"],.button-wide [class^=icon-]{font-size:3.6rem}.button-wide:hover{background:#d4c487;color:#fff}.headings,.headings a,h1.headings{color:#3D84DD}.headings{font-family:"Proxima Nova S Medium",serif,serif}h1.headings{height:6rem;background:#FFF9E5;line-height:6rem;border-bottom:solid 1px #9B9B9B;font-size:2.6rem}@media (min-width:1000px){h1.headings{font-size:2.4rem}}h2.headings{margin-bottom:1.7rem;color:#D4C487;font-size:2.6rem;line-height:1.125}@media (min-width:1000px){h2.headings{margin-bottom:2rem;font-size:2.4rem;line-height:1.2125}}h3.headings{margin-bottom:1rem;font-size:1.8rem;line-height:1.05}@media (min-width:1000px){h3.headings{font-size:1.8rem;line-height:1.22}}[class*=" icon-"],[class^=icon-]{font-family:icomoon;speak:none;font-size:4.4rem;font-style:normal;font-weight:400;font-variant:normal;text-transform:none;line-height:1;vertical-align:middle;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}.icon-calendar:before{content:""}.icon-clock:before{content:""}.icon-close:before{content:""}.icon-contacts:before{content:""}.icon-down:before{content:""}.icon-facebook:before{content:""}.icon-film:before{content:""}.icon-instagram:before{content:""}.icon-left:before{content:""}.icon-mail-subscribe:before{content:""}.icon-mail:before{content:""}.icon-menu:before{content:""}.icon-play:before{content:""}.icon-quote-left:before{content:""}.icon-right:before{content:""}.icon-search:before{content:""}.icon-shortcuts:before{content:""}.icon-sub-menu:before{content:""}.icon-twitter:before{content:""}.icon-up:before{content:""}.icon-whatsapp:before{content:""}.icon-world:before{content:""}.image-container{width:100%;height:auto;object-fit:cover;overflow:hidden;background:rgba(240,244,249,.25);background:radial-gradient(50% 98%,rgba(61,131,221,.05) 51%,rgba(3,39,119,.1) 100%);line-height:0}.image-container .icon{position:absolute;margin:auto;top:0;bottom:0;left:0;right:0}.image-container .image{min-width:300px;width:100%;height:auto;vertical-align:bottom}a{text-decoration:none;color:#3D84DD}a:hover{color:#9B7800}h1,h2,h3,h4,h5,h6{font-family:"Gotham Black",arial,sans-serif,sans-seif;font-weight:900;letter-spacing:.1rem;color:#fff}h4,p{font-family:"Gotham Light",arial,sans-serif}h1 a,h2 a,h3 a,h4 a,h5 a,h6 a{color:#333}h1{font-size:3.2rem;line-height:1.125}@media (min-width:1000px){h1{font-size:4.8rem;line-height:1.125}}h2{margin-bottom:20px;font-size:2.6rem;line-height:1.25}@media (min-width:1000px){h2{font-size:3rem;line-height:1.3}}h3{font-size:2.2rem;line-height:1.625}@media (min-width:1000px){h3{font-size:2.4rem;line-height:1.25}}h4{font-size:2rem;line-height:1.4}@media (min-width:1000px){h4{font-size:2rem;line-height:1.35}}p{margin-bottom:30px;font-size:1.6rem;line-height:1.4375;-webkit-font-smoothing:antialiased}.main-news-7 .news-block .author,.meta-data{font-family:"Charis SIL Regular",Georgia,"Times New Roman",Times,serif}@media (min-width:750px){p{font-size:1.8rem;line-height:1.85}}small{font-size:1.2rem;line-height:1.175}.video-container{box-sizing:border-box;position:relative;max-width:100%;height:0;padding-bottom:56.25%;padding-top:30px;overflow:hidden;background:#F0F4F9;background:radial-gradient(50% 98%,rgba(61,131,221,.05) 51%,rgba(3,39,119,.1) 100%)}.video-container embed,.video-container iframe,.video-container object{position:absolute;top:0;left:0;width:100%;height:100%;border:none}.ads.leaderboard{background:#333;padding:6px 15px 7px}@media (min-width:550px){.ads.leaderboard{padding:20px 0 13px}.ads.leaderboard a{width:728px;height:90px}}.ads.leaderboard.no-background{background:0 0}.ads.full-banners{background:#333;padding:25px 10px;overflow:hidden}.ads.full-banners .full-banner:first-child{margin-bottom:10px}@media (min-width:750px){small{font-size:1.4rem;line-height:1.225}.ads.full-banners .full-banner:first-child{margin-bottom:0}}.ads.wrapper.no-background{background:0 0}.ads.columns{position:relative;margin-bottom:35px}.ads.columns .medium-rectangle{margin-bottom:25px}@media (min-width:550px){.other-news .ads.columns{height:550px;margin-bottom:30px}.other-news-mini .ads.columns{height:375px;padding-top:44px}.video-gallery .ads.columns{height:365px}}.latest-news .ads.medium-rectangle,.related-news .ads.medium-rectangle,.streamfields .ads.medium-rectangle{margin-bottom:15px}.latest-news .ads.medium-rectangle div,.related-news .ads.medium-rectangle div,.streamfields .ads.medium-rectangle div{margin:0 auto!important}.latest-news .ads.button-ad,.related-news .ads.button-ad,.streamfields .ads.button-ad{margin-bottom:15px}.ads{text-align:center}.meta-data{margin-bottom:2.5rem;color:#9B9B9B}.menu-mobile .location .headings,.menu-mobile .shortcuts a{font-family:"Proxima Nova Light","Helvetica Neue Light",Helvetica,Arial,sans-serif}.meta-data .icon-clock,.meta-data .text{line-height:1}.meta-data .icon-clock{vertical-align:middle;font-size:2rem}.meta-data .text{font-size:1.3rem}header.section-header{margin-bottom:40px}header.section-header .headings{margin-bottom:0;padding-bottom:1.5rem;border-bottom:solid 2px #D4C487;text-align:center}header.section-header .triangle{margin:-2px auto 0;line-height:0;text-align:center}@media (max-width:750px){header.section-header{width:100%}}.news-info .social-media{border-top:solid #d4c487 .1rem;display:inline;position:absolute;bottom:0;width:100%}.news-info .social-media .button-social.mail{display:none}@media (min-width:750px){header.section-header .headings,header.section-header .triangle{text-align:left}header.section-header .triangle img{margin-left:65px}.news-info .social-media .button-social.mail{display:inline-block}.news-info .social-media .button-social.whatsapp{display:none}}.article-header{margin-top:2rem;padding-top:25px;overflow:hidden}@media (min-width:1000px){.article-header h1{width:74%}}.article-header h2{color:#555}.footer,.footer a{color:#fff}.article-header hr{margin-bottom:0;border:1px solid #555}.article-header .meta-data{margin-top:20px;margin-bottom:0;text-align:center}.article-header .social-media{width:100%;display:block;text-align:center}@media (min-width:550px){.article-header .meta-data,.article-header .social-media{width:100%}}@media (min-width:750px){.article-header{padding-top:45px}.article-header .meta-data{float:left;width:65.33333%;margin-top:10px;text-align:left}.article-header .social-media{float:right;text-align:right;width:30.66667%}header .menu-mobile{visibility:hidden}}.article-header.no-padding-top{padding-top:0}.footer article .headings{color:#fff;font-size:1.4rem;line-height:1.9rem;margin-top:.9rem;margin-bottom:1.1rem;text-transform:uppercase}.menu-mobile .location .headings,.menu-mobile .location a{text-transform:capitalize;font-size:1.6rem}.footer article ul{list-style-type:none}.footer article ul li{line-height:1.9rem;margin-bottom:10px}.footer article .icon-contacts,.footer article .icon-shortcuts{display:none}.footer #footer-hr-1{width:10rem;border:2px solid #FC0}@media (min-width:550px){.footer article{text-align:left}.footer article .icon-contacts,.footer article .icon-shortcuts{display:block;word-break:break-all}.footer #footer-hr-1,.footer #footer-hr-2,.footer #footer-hr-4{display:none}}.footer{background:#333;text-align:center}.footer a:hover{color:#FC0}.footer .button-social{margin-left:7px;margin-right:7px}.footer .button-social:first-child{margin-left:0}.footer .button-social:last-child{margin-right:0}@media (min-width:550px){.footer{text-align:left}.footer .social-media,.footer small{text-align:center}.footer .social-media{margin-bottom:2rem}.footer .logo-tc{margin-left:13.33333%}}@media (min-width:1000px){.footer .logo-tc:hover{opacity:.85}.footer .four:nth-child(1){width:48%}.footer .four:nth-child(2),.footer .four:nth-child(3){width:22%}}.menu-mobile .location{padding-top:30px}.menu-mobile .location .headings{color:#fff;font-weight:100}.menu-mobile .location li{list-style-type:disc}.latest-tweets li,header .menu-mobile div li{list-style-type:none}.menu-mobile .category a{font-size:1.4rem;line-height:3.3rem}.menu-mobile .shortcuts a{text-transform:uppercase}.menu-mobile .social-links{padding-bottom:30px;text-align:center}.menu-mobile .social-links a{margin-left:9px;margin-right:9px}.menu-mobile .social-links a:hover{border-color:#FC0;color:#FC0}header .menu-mobile{z-index:1000;position:absolute;left:0;height:auto;display:none;width:85%;margin-left:0;background:#333;color:#fff;text-align:left}header .menu-mobile div{padding:0 20px}header .menu-mobile div a{color:#fff}header .menu-mobile div a:hover{color:#FC0}header .menu-mobile div ul{margin-bottom:0}header .menu-mobile hr{margin-bottom:30px;border-color:gold}@media (min-width:550px){header .menu-mobile{width:70%}}.main-row .left #button-menu-mobile{margin:0;padding:0;border:none}.main-row .left #button-menu-mobile:hover span{color:#3D84DD}@media (min-width:750px){.main-row .left{padding:0!important}.main-row .left #button-menu-mobile{display:none}}.main-row .center{height:44px}.main-row .center .vertical-align{display:inline-block;height:100%;vertical-align:middle}.main-row .center .logo{max-width:50%;height:44px;white-space:nowrap;text-align:center}.main-row .center .logo img{position:absolute;left:0;top:0;z-index:999;max-width:100%;height:auto;vertical-align:middle}@media (min-width:750px){.main-row .center{text-align:left}.main-row .center .logo img{max-width:80%}}@media (min-width:1000px){.main-row .center{height:auto}.main-row .center .logo img{max-width:100%}}.main-row .right{height:40px;text-align:right}.main-row .right button{margin:0;padding:0;border:none}.main-row .right .button-icon-label .text,.main-row .right .button-icon-label:nth-child(2),.main-row .right .button-social{display:none}@media (min-width:1000px){.main-row .right button{margin-right:10px}.main-row .right .button-icon-label .text{display:inline-block;text-transform:uppercase}.main-row .right .button-icon-label [class*=" icon-"],.main-row .right .button-icon-label [class^=icon-]{vertical-align:middle;color:#CACACA}.main-row .right .button-icon-label:hover [class*=" icon-"],.main-row .right .button-icon-label:hover [class^=icon-]{color:#3D84DD}.main-row .right .button-social{width:6rem;height:6rem;margin-left:3px;margin-right:3px}.main-row .right .button-social:first-child{margin-left:0}.main-row .right .button-social:last-child{margin-right:0}.main-row .right .button-social span{font-size:5rem}}.header .main-row{position:relative;height:80px;text-align:center}.header .main-row .left,.header .main-row .right{position:absolute;top:0;width:44px;bottom:0}.header .main-row .left{left:0}.header .main-row .right{right:0;margin-top:2rem}.header .main-row .center{margin:0 54px}@media (min-width:750px){.main-row .right .button-icon-label:nth-child(2),.main-row .right .button-social{display:inline-block}.header .main-row{margin-bottom:0}.header .main-row .left{display:none}.header .main-row .right{width:50%;padding:0}.header .main-row .center{margin-left:15px;padding-left:0}#menu-tablet{z-index:1000;position:absolute;right:0;width:300px;height:auto;background:#fff;border:1px solid #3D84DD;box-shadow:0 5px 5px 5px rgba(0,0,0,.15)}#menu-tablet li{width:100%}#menu-tablet li a{display:block;margin:0;color:#9B9B9B;text-align:left;text-indent:10px;line-height:44px}#menu-tablet li a:hover{background:#FFF9E5;color:#3D84DD}#menu-tablet li:last-child{margin-bottom:0}}.header,.header a,.header button{color:#9B9B9B}@media (min-width:940px){#menu-tablet li:nth-child(1){display:none}}.header .menu-row{display:none}@media (min-width:750px){.header .menu-row{position:relative;display:block;box-sizing:border-box;border-top:solid 2px #D4C487;border-bottom:solid 1px #3D84DD}.header .menu-row #button-sub-menu,.header .menu-row nav{display:inline}.header .menu-row #button-menu-tablet{margin:0;padding:0;border:none}.header .menu-row #button-menu-tablet,.header .menu-row a{margin-left:9px;margin-right:9px}.header .menu-row a:nth-child(6),.header .menu-row a:nth-child(7){display:none}}@media (min-width:940px){.header .menu-row a:nth-child(6){display:inline}.header .menu-row a:nth-child(7){display:none}}@media (min-width:1060px){#menu-tablet{visibility:hidden}.header .menu-row{padding-top:14px;padding-bottom:10px}.header .menu-row a:nth-child(6),.header .menu-row a:nth-child(7){display:inline}.header .menu-row #button-menu-tablet{display:none}}.header .location-row{display:none}@media (min-width:750px){.header .location-row{display:block;margin-top:20px}.header .location-row span{margin-left:5px;margin-right:5px}.header .location-row button{margin:0;border:none;text-transform:uppercase;font-weight:400;text-align:center;font-size:1.4rem;line-height:1.92rem;padding:0}}.header{margin:0 auto;font-family:"Gotham Light",arial,sans-serif;text-transform:uppercase;text-align:center;font-size:1.4rem;line-height:1.92rem;background:#333;border-bottom:.4rem solid #d4c487}.header .container{width:95%;padding:0}.header a:hover,.header button:hover{color:#3D84DD}@media (min-width:550px){.header{margin:0}}@media (min-width:1000px){.header{margin:0}}.header .active{color:#D4C487}.latest-news article{margin-bottom:20px}.latest-news article .headings,.latest-news article .title{margin-bottom:0;white-space:pre-wrap}@media (min-width:1000px){.latest-news article .headings,.latest-news article .title{margin-bottom:10px}}.latest-news article .meta-data{margin-bottom:5px;font-size:1.3rem}@media (min-width:1000px){.latest-news article .meta-data{margin-bottom:20px}}.latest-news article .image-container{margin-bottom:10px}@media (min-width:1000px){.latest-news article .image-container{margin-bottom:15px}.latest-tweets #tweets-container{height:170px}}.latest-news{background:#FFF9E5}.latest-news .scroll{overflow-y:hidden;overflow-x:scroll;white-space:nowrap;-webkit-overflow-scrolling:touch}.latest-news .scroll article{display:inline-table;width:220px;margin-left:3.5%}.latest-news .scroll article:first-child{margin-left:0}.latest-tweets #tweets-container ul{margin-bottom:10px}.latest-tweets #tweets-container .author,.latest-tweets #tweets-container li{margin-bottom:0;font-size:1.6rem;line-height:2.3rem;-webkit-font-smoothing:antialiased}.latest-tweets #tweets-container .meta-data{margin-bottom:20px}.latest-tweets #tweets-container .author{display:inline-block;margin-bottom:10px}.latest-tweets #tweets-container #web-intents a{display:inline-block;margin-left:1px;margin-right:1px}.latest-tweets #tweets-container #web-intents a span{color:#AAB8C2}.latest-tweets #tweets-container #web-intents .reply:hover span{color:#D3DADF}.latest-tweets #tweets-container #web-intents .retweet:hover span{color:#19CF86}.latest-tweets #tweets-container #web-intents .like:hover span{color:#E81C4F}.latest-tweets{background:#fff;text-align:center;padding-bottom:10px}.latest-tweets ul{margin-top:0}.latest-tweets .twitter{margin-top:0;margin-bottom:40px}.latest-tweets .select-buttons{display:none}@media (min-width:1000px){.latest-tweets .select-buttons{display:block;margin-bottom:0}.latest-tweets .select-buttons li{display:inline-block;margin-bottom:0}.latest-tweets .select-buttons li button{margin:0 3px;padding:0;border:none;color:#9B9B9B;font-size:3rem}.latest-tweets .select-buttons li button:hover{color:#3D84DD}.latest-tweets .select-buttons li button.active{color:#D4C487}}.main-news-4 .news-block a,.main-news-7 .news-block a{box-sizing:border-box;padding:20px;color:#fff;z-index:2}.main-news-4 .grid{margin:0 auto;background:#444444}.main-news-4 .grid .news-block{background-size:cover!important}.main-news-4 .grid .news-block:first-child,.main-news-4 .grid .news-block:nth-last-child(-n+3){height:240px}@media (min-width:750px){.latest-news .scroll{overflow:hidden}.latest-news .scroll article{width:22%}.main-news-4 .grid .news-block:first-child{height:380px}}@media (min-width:1000px){.main-news-4 .grid{width:100%;height:640px}.main-news-4 .grid .news-block{float:left}.main-news-4 .grid .news-block:first-child{height:100%;width:50%}.main-news-4 .grid .news-block:nth-child(2){height:50%;width:50%}.main-news-4 .grid .news-block:nth-child(3),.main-news-4 .grid .news-block:nth-child(4){height:50%;width:25%}}.main-news-4 .scroll{display:block;background:navy;width:100%;height:180px;overflow-y:hidden;overflow-x:scroll;white-space:nowrap;-webkit-overflow-scrolling:touch}.main-news-4 .scroll article{background-size:cover!important;margin-left:-4px;display:inline-table;width:80%}.main-news-4 .scroll article:nth-child(1){margin-left:0}@media (min-width:550px){.main-news-4 .scroll article{width:480px}}.main-news-4 .news-block{position:relative;box-sizing:border-box;height:380px;background-size:cover;overflow:hidden}.main-news-4 .news-block a{position:relative;display:block;width:100%;height:100%}.main-news-4 .news-block img{display:none}.main-news-4 .news-block .author,.main-news-4 .news-block .title{text-shadow:2px 2px 0 rgba(0,0,0,.24),2px 2px 10px #000}.main-news-4 .news-block .title{text-transform:uppercase;position:absolute;left:2rem;bottom:2rem;font-size:2rem;line-height:1.2;margin-bottom:5px;white-space:pre-wrap;display:block;max-height:7.2rem;overflow:hidden}.main-news-4 .news-block:after,.main-news-7 .news-block:after{content:"";top:0;left:0;transition:opacity .25s ease}.main-news-4 .news-block .author{font-size:1.233rem;line-height:2rem}@media (min-width:1000px){.main-news-4 .news-block .title{-webkit-font-smoothing:initial;text-shadow:2px 2px 0 rgba(0,0,0,.24)}.main-news-4 .news-block{width:25%}}.main-news-4 .news-block:after{position:absolute;width:100%;height:100%;background:linear-gradient(-180deg,transparent 0,#000 100%);opacity:.4}.main-news-4 .news-block:hover:after{opacity:.2}.main-news-7 .grid{margin:0 auto;background:navy}.main-news-7 .grid article{background-size:cover!important}.main-news-7 .grid .news-block:nth-last-child(-n+4){display:none}@media (min-width:550px){.main-news-7 .grid{display:flex;flex-direction:column;flex-wrap:wrap;height:360px;overflow:hidden}.main-news-7 .grid .news-block:nth-child(1),.main-news-7 .grid .news-block:nth-child(5){height:360px}}@media (min-width:1000px){.main-news-7 .grid{width:960px;height:540px}.main-news-7 .grid .news-block:nth-last-child(-n+4){display:block}.main-news-7 .grid .news-block:nth-child(2){order:3}.main-news-7 .grid .news-block:nth-child(3){order:6}.main-news-7 .grid .news-block:nth-child(4){order:4}.main-news-7 .grid .news-block:nth-child(5){order:7}.main-news-7 .grid .news-block:nth-child(6){order:2}.main-news-7 .grid .news-block:nth-child(7){order:5}}.main-news-7 .scroll{display:block;background:navy;width:100%;height:180px;overflow-y:hidden;overflow-x:scroll;white-space:nowrap;-webkit-overflow-scrolling:touch}.main-news-7 .scroll article{background-size:cover!important;margin-left:-4px;display:inline-table;width:80%}.main-news-7 .scroll article:nth-child(1){margin-left:0}@media (min-width:550px){.main-news-7 .scroll article{width:480px}}@media (min-width:1000px){.main-news-7 .scroll{display:none}}.main-news-7 .news-block{position:relative;box-sizing:border-box;height:180px;background-size:cover;overflow:hidden}.main-news-7 .news-block a{position:relative;display:block;width:100%;height:100%}.main-news-7 .news-block img{display:none}.main-news-7 .news-block .author,.main-news-7 .news-block .title{text-shadow:0 2px 2px rgba(0,0,0,.5)}.main-news-7 .news-block .title{font-size:2.16rem;line-height:1.6;margin-bottom:5px;white-space:pre-wrap;display:block;max-height:10.368rem;overflow:hidden}.main-news-7 .news-block .author{font-size:1.233rem;line-height:2rem}@media (min-width:550px){.main-news-7 .news-block{width:50%}.on-screen .title-header h3{display:block;max-height:7.14rem;overflow:hidden}}@media (min-width:1000px){.main-news-7 .news-block .title{-webkit-font-smoothing:initial;text-shadow:0 2px 2px rgba(0,0,0,.9)}.main-news-7 .news-block{width:320px}}.main-news-7 .news-block:after{position:absolute;width:105%;height:100%;background:#032777;background:linear-gradient(-134deg,#0943A5 100%,#032777 100%);opacity:.5}.main-news-7 .news-block:hover:after{opacity:.65}.on-screen .title-header{margin-bottom:0;padding:0}.on-screen .title-header .meta-data{display:block}.on-screen .title-header .social-media{display:block;text-align:center}@media (min-width:750px){.on-screen .title-header h3{margin-bottom:5px}}@media (min-width:1000px){.on-screen .title-header .social-media{text-align:right}}.on-screen .video-thumb{-webkit-box-sizing:border-box;box-sizing:border-box;width:100%;margin:0 0 5px;padding:0 0 5px;color:#333;text-align:left;border:0;border-bottom:solid 1px #FC0;border-radius:0}.on-screen .video-thumb .image-container{display:inline-block;max-width:27.25%;height:auto;margin:0;padding:0;border-radius:2px}.on-screen .video-thumb .label{display:inline-block;overflow:hidden;width:60%;height:5.67rem;padding-left:16px;font-family:"Proxima Nova Light","Helvetica Neue Light",Helvetica,Arial,sans-serif;font-size:1.4rem;font-weight:100;line-height:1.8rem;text-transform:none;vertical-align:middle;word-break:normal;white-space:normal}@media (min-width:550px){.on-screen .video-thumb .image-container{display:none}.on-screen .video-thumb .label{padding-left:0;width:100%}}@media (min-width:750px){.on-screen .video-thumb .image-container{display:inline-block}.on-screen .video-thumb .label{padding-left:16px;width:65%}}.on-screen .video-thumb:last-child{margin-bottom:0;padding-bottom:0;border-bottom:none}.on-screen .video-thumb.active,.on-screen .video-thumb:hover{color:#3D84DD}.on-screen .row:nth-child(2){margin-bottom:30px}.on-screen .row:nth-child(2) .eight.columns{margin-bottom:20px}.on-screen .row:nth-child(2) .eight.columns .video-container{border-top:solid 2px #9B9B9B}.on-screen .row:nth-child(2) .four.columns{margin-top:2px}.other-news .news-block footer .social-media{text-align:center;display:block}.other-news .news-block footer .button-social{margin-left:4px;margin-right:4px}.other-news .news-block footer .button-social:first-child{margin-left:0}.other-news .news-block footer .button-social:last-child{margin-right:0}@media (min-width:550px){.other-news .news-block footer{box-sizing:border-box;position:absolute;left:0;bottom:0;width:100%;padding:0 20px}.other-news .news-block footer .meta-data time{display:block}}@media (min-width:640px){.other-news .news-block footer .meta-data time{display:inline}}@media (min-width:1000px){.on-screen .row:nth-child(2) .eight.columns{margin-bottom:0}.on-screen .row:nth-child(2){margin-bottom:50px}.other-news .news-block footer .social-media{opacity:0;transition:opacity .25s ease;text-align:right}.other-news .news-block footer .button-social{margin-left:2px;margin-right:2px}.other-news .news-block footer .button-social:first-child{margin-left:0}.other-news .news-block footer .button-social:last-child{margin-right:0}.other-news .news-block:hover footer .social-media{opacity:1}}.other-news .news-block{box-sizing:border-box;background:#fff;margin-bottom:20px;padding:20px 20px 0;border-bottom:solid 2px #9B9B9B}.other-news{background:#FFF9E5}@media (min-width:550px){.other-news .news-block{position:relative;height:550px;margin-bottom:30px}.other-news .news-block h4{font-size:2rem;line-height:1.35;display:block;max-height:8.1rem;overflow:hidden}.other-news .news-block p{font-size:1.4rem;line-height:1.375;display:block;max-height:9.625rem;overflow:hidden}.other-news .gallery-grid>*{width:48%}.other-news .gallery-grid>:nth-child(2n+1){margin-left:0}}@media (min-width:1000px){.other-news .gallery-grid>*{width:30.66667%}.other-news .gallery-grid>:nth-child(2n+1){margin-left:4%}.other-news .gallery-grid>:nth-child(3n+1){margin-left:0}.other-news-mini .news-block .social-media{opacity:1;transition:opacity .25s ease}}.other-news-mini .news-block{position:relative;box-sizing:border-box;margin-bottom:20px;box-shadow:2px 2px 2px rgba(0,0,0,.24)}.other-news-mini .news-block .image-container{height:100%;border-radius:2px}.other-news-mini .news-block .social-media{display:block;text-align:center}.other-news-mini .news-block .news-info{position:absolute;bottom:0;width:86%;height:14rem;margin:7%;background:#fff;z-index:2;box-shadow:2px 2px 2px rgba(0,0,0,.1)}.other-news-mini .news-block .news-info h4{display:block;max-height:7.8rem;overflow:hidden;padding:.8rem;text-align:center;font-weight:100;letter-spacing:.1rem}.other-news-mini{padding-top:40px}@media (min-width:550px){.other-news-mini .news-block{position:relative;height:375px;margin-bottom:35px;overflow:hidden}.other-news-mini .news-block h4{display:block;max-height:7.8rem;overflow:hidden}.other-news-mini .gallery-grid>*{width:48%}.other-news-mini .gallery-grid>:nth-child(2n+1){margin-left:0}}@media (min-width:1000px){.other-news-mini .news-block:hover .social-media{opacity:1}.other-news-mini .gallery-grid>*{width:30.66667%}.other-news-mini .gallery-grid>:nth-child(2n+1){margin-left:4%}.other-news-mini .gallery-grid>:nth-child(3n+1){margin-left:0}}.related-news article{margin-bottom:15px}.related-news article .title{margin-bottom:0;padding-left:15px}.related-news article .meta-data,.related-news article .paragraph{display:none}.related-news{padding-top:15px}.related-news article .columns:first-child{width:25%}.related-news article .columns:last-child{width:75%}@media (min-width:550px){.related-news article .columns{width:100%}.related-news article .columns:first-child{margin-left:0;width:30.66667%}.related-news article .columns:last-child{width:65.33333%}}@media (min-width:750px){.related-news article{margin-bottom:20px;padding-left:0}.related-news article .title{padding-left:0;margin-bottom:10px}.related-news article .meta-data,.related-news article .paragraph{display:block}.related-news article .meta-data{margin-bottom:20px;font-size:1.3rem}.related-news article .paragraph{font-size:1.4rem;margin-bottom:0}.related-news article .columns:first-child{margin-left:17.33333%;width:22%}.related-news article .columns:last-child{width:39.33333%}.related-news{padding-top:60px}}.streamfields .blockquote blockquote{margin-top:60px;margin-left:0;margin-right:0;max-height:260px;background:#333;color:#fff;font-family:"Charis SIL Regular",Georgia,"Times New Roman",Times,serif;text-align:center}.streamfields .blockquote blockquote .left,.streamfields .blockquote blockquote .right{box-sizing:border-box}.streamfields .blockquote blockquote .left img{margin-top:-40px;width:80px;height:80px;border-radius:50%;filter:grayscale(1)}.streamfields .blockquote blockquote .right{background:#333;padding:20px 20px 40px}.streamfields .blockquote blockquote .right .icon-quote-left{color:#FC0}.streamfields .blockquote blockquote .right p{font-size:1.8rem;line-height:1.22;font-style:italic;margin-bottom:1rem}.streamfields .blockquote blockquote .right .author{font-size:1.3rem;line-height:1.7}.streamfields .blockquote blockquote .right .author:before{content:"-";margin-right:5px}@media (min-width:750px){.streamfields .blockquote blockquote{margin-top:50px;overflow:auto}.streamfields .blockquote blockquote .left,.streamfields .blockquote blockquote .right{float:left;height:260px;padding:40px}.streamfields .blockquote blockquote .left{width:34%;background:#CACACA;text-align:right}.streamfields .blockquote blockquote .left .vertical-align{display:inline-block;height:100%;vertical-align:middle}.streamfields .blockquote blockquote .left img{margin-top:0;max-width:none;width:150px;height:150px;vertical-align:middle}.streamfields .blockquote blockquote .right{width:66%;text-align:left}.streamfields .blockquote blockquote .right .icon-quote-left{margin-left:-5px}}.panorama img,.streamfields .image img{width:100%;height:auto;vertical-align:bottom}@media (min-width:1000px){.streamfields .blockquote blockquote p{max-width:74%;line-height:1.667}}.streamfields .html-embed{text-align:center}.streamfields .html-embed iframe{margin:0 auto;text-align:center;border:none;min-height:0}@media (max-width:400px){.streamfields .html-embed iframe{width:100%;height:auto}}.streamfields .image{background:#333}.streamfields .image img{display:block;margin:0 auto}.streamfields .paragraph b,.streamfields .paragraph div,.streamfields .paragraph em,.streamfields .paragraph strong{margin-bottom:30px;font-family:"Gotham Light",arial,sans-serif;font-size:1.6rem;line-height:1.4;letter-spacing:.2rem;-webkit-font-smoothing:antialiased}.streamfields .paragraph .rich-text,.streamfields .paragraph li{margin-bottom:0}.streamfields .paragraph b,.streamfields .paragraph em,.streamfields .paragraph strong{font-style:normal;font-weight:400}.streamfields .paragraph br{display:none}@media (min-width:750px){.streamfields .paragraph b,.streamfields .paragraph div,.streamfields .paragraph em,.streamfields .paragraph strong{font-size:1.8rem;line-height:1.4}.streamfields .paragraph p:last-child{margin-bottom:0}}.streamfields .phrase p{box-sizing:border-box;padding-left:28px;text-align:left;border-left:solid 2px #FC0;font-size:2.2rem;line-height:2.6rem}.subscribe,.video-player .social-media{text-align:center}@media (min-width:750px){.streamfields .phrase p{font-size:2.4rem;line-height:2.8rem;width:75%}}.streamfields{padding-top:0;padding-bottom:0}.streamfields .blockquote,.streamfields .panorama{margin:0 auto 40px}.streamfields .html-embed,.streamfields .image,.streamfields .paragraph,.streamfields .phrase,.streamfields .subtitle,.streamfields .video{position:relative;width:100%;max-width:960px;margin:0 auto 40px;padding:0 20px;-webkit-box-sizing:border-box;box-sizing:border-box}.form,.form button,.streamfields :last-child{margin-bottom:0}@media (min-width:400px){.streamfields .html-embed,.streamfields .image,.streamfields .paragraph,.streamfields .phrase,.streamfields .subtitle,.streamfields .video{width:85%;padding:0}}@media (min-width:550px){.streamfields .html-embed,.streamfields .image,.streamfields .paragraph,.streamfields .phrase,.streamfields .subtitle,.streamfields .video{width:80%}}@media (min-width:750px){.streamfields .html-embed,.streamfields .image,.streamfields .paragraph,.streamfields .phrase,.streamfields .subtitle,.streamfields .video{width:66%}}@media (min-width:1000px){.streamfields .html-embed,.streamfields .image,.streamfields .paragraph,.streamfields .phrase,.streamfields .subtitle,.streamfields .video{width:48%}}.streamfields .eight>*{width:100%}.form button,.form input[type=date],.form input[type=email]{height:60px;font-family:"Proxima Nova Light","Helvetica Neue Light",Helvetica,Arial,sans-serif;font-size:1.4rem;line-height:1.7rem;font-weight:100;border-color:#E4E4E4}.form input[type=date],.form input[type=email]{display:inline-block;width:75%;border-radius:2px 0 0 2px}.form button{display:inline-block;width:20%;margin-top:1px;margin-left:-4px;padding:0;background:#D4C487;border:#c7b261;border-radius:0 2px 2px 0;color:#fff;text-transform:uppercase}.form button [class*=" icon-"],.form button [class^=icon-]{font-size:4.4rem;line-height:0;color:#fff}.form button .text{display:none}.form button:hover{background:#c7b261}@media (min-width:550px){.form input[type=date],.form input[type=email]{width:60%}.form button [class*=" icon-"],.form button [class^=icon-]{display:none}.form button .text{display:inline}}@media (min-width:1000px){.form input[type=date],.form input[type=email]{width:500px}.form button{width:160px}}.subscribe{background:#FFF9E5}.subscribe .icon-mail-subscribe{display:none}.video-gallery .video-thumb{box-sizing:border-box;margin-bottom:20px}@media (min-width:550px){.subscribe .icon-mail-subscribe{display:inline-block;color:#CACACA;font-size:10rem}.video-gallery .video-thumb{height:365px;margin-bottom:35px}.video-gallery .gallery-grid>*{width:48%}.video-gallery .gallery-grid>:nth-child(2n+1){margin-left:0}}.video-gallery .video-thumb:hover{cursor:pointer}.video-gallery .video-thumb:hover h4{color:#3D84DD}@media (min-width:1000px){.video-gallery .gallery-grid>*{width:30.66667%}.video-gallery .gallery-grid>:nth-child(2n+1){margin-left:4%}.video-gallery .gallery-grid>:nth-child(3n+1){margin-left:0}}.video-player .video-container{border-bottom:solid 2px #FC0}.video-player header{padding-top:30px}@media (min-width:550px){.video-player .social-media,.video-player header{margin:0;width:100%}}@media (min-width:750px){.video-player header{float:left;width:65.33333%}.video-player .social-media{float:right;text-align:right;width:30.66667%}}
    </style>
{% endblock %}

{% block header %}
    <header class="header">
        <div class="container">
            <div class="row main-row">
                <div class="left">
                    <!--<button id="button-menu-mobile"><span class="icon-menu"><!-- icon </span></button>-->
                </div>
                <div class="center">
                    <!-- CAMBIAR HREF LOGO-->
                    <a class="logo" href="{{ self.get_parent.url }}">
                        <span class="vertical-align"><!-- helper to vertically align --></span>
                        <img src='{% static 'images/logo-dbeb.png' %}' width="200" height="112"
                             alt="Logotipo DBEB" />
                    </a>
                </div>
                <div class="right">
                    <a class="button-social circle facebook" href="https://www.facebook.com/debocaenbocatc/">
                        <span class="icon-facebook"><!-- icon --></span>
                    </a>
                    <a class="button-social circle twitter" href="https://twitter.com/debocaenbocatc/">
                        <span class="icon-twitter"><!-- icon --></span>
                    </a>
                    <a class="button-social circle instagram" href="https://instagram.com/debocaenbocatc/">
                        <span class="icon-instagram"><!-- icon --></span>
                    </a>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block title %}{{ self.title }}{% endblock %}

{% block content %}
    <!-- Main video -->
    <section class="main-video" style="background: black;">
        <div class="container">
            <div class="video-container">
                <iframe id="iframe-video"
                width="16" height="9" src="//www.dailymotion.com/embed/video/{{ self.video|get_code_format_video }}?html=true&amp;info=0&amp;logo=0&amp;related=0" allowfullscreen></iframe>
            </div>
        </div>
    </section>

    <!-- Title header -->
    <section class="article-header {{ class }}">
        <div class="container">
            <header>
                <h2>{{ self.title }}</h2>
            </header>
            <hr>
            <footer>
                {% include 'core/includes/base/social-media.html' with article=self class="tab-inverted" utm="article-tv-top" only %}
            </footer>
        </div>
    </section>


    <!-- Full banner -->
    {% block ads_fullbanners %}
        {% include 'core/ads/full-banners.html' with class='no-background margin-bottom' %}
    {% endblock %}

    <!-- Content (Streamfields) -->
    {% include 'core/includes/news-articles-on-screen/streamfields.html' %}

    <div id="adsContainer" class="container">
        <div class="four columns">
            <!-- Medium rectangle 1 -->
            {% include "core/ads/medium-rectangle-1.html" %}
        </div>
        <div class="four columns">
            <!-- Medium rectangle 2 -->
            {% include "core/ads/medium-rectangle-2.html" %}
        </div>
        <div class="four columns">
            <!-- Button ad 1 -->
            {% include "core/ads/button-ad-1.html" %}
        </div>
        <div class="four columns">
            <!-- Button ad 2 -->
            {% include "core/ads/button-ad-2.html" %}
        </div>
    </div>

    <!-- Scripts -->
    {% include 'core/js/article-single-column-layout.html' %}
{% endblock %}


{% block footer %}
    <footer class="footer ">
        <div class="container">
            <div class="row">
                <div class="four columns">
                    <a class="logo-tc" href="//www.tctelevision.com">
                        <img src="{% static 'images/logo-tc.png' %}" data-src="{% static 'images/logo-tc.png' %}"
                             width="112" height="106" alt="TC mi canal">
                    </a>
                    <hr id="footer-hr-1">
                </div>
                <article class="four columns">
                    <span class="icon-contacts"><!-- icon --></span>
                    <h3 class="headings">Contacto</h3>
                    <ul>
                        <li><a href="tel:+593946003030">+593 94 6003030</a></li>
                        <li><a href="mailto:info@elnoticiero.com.ec">info@debocaenbocatc.com</a></li>
                    </ul>
                    <hr id="footer-hr-2">
                </article>
                <article class="four columns">
                    <span class="icon-shortcuts"><!-- icon --></span>
                    <h3 class="headings">Accesos directos</h3>
                    <ul>
                        <li><a href="{% pageurl_slug 'videoteca' %}">Videoteca</a></li>
                        <li><a href="{% url "suscribe" %}">Suscríbete</a></li>
                    </ul>
                </article>
            </div>
            <hr id="footer-hr-3">
            <div class="row">
                <div class="twelve columns social-media">
                    <a class="button-social circle facebook" href="https://www.facebook.com/debocaenbocatc/">
                        <span class="icon-facebook"><!-- icon --></span>
                    </a>
                    <a class="button-social circle twitter" href="https://twitter.com/debocaenbocatc/">
                        <span class="icon-twitter"><!-- icon --></span>
                    </a>
                    <a class="button-social circle instagram" href="https://instagram.com/debocaenbocatc/">
                        <span class="icon-instagram"><!-- icon --></span>
                    </a>
                </div>
            </div>
            <hr id="footer-hr-4">
            <div class="row">
                <small class="twelve columns">© Copyright 2017 por TC Televisión. Todos los derechos reservados.</small>
            </div>
        </div>
    </footer>
{% endblock %}


{% block js-external %}{% endblock %}


<!-- Extra scripts -->
{% block extra_js %}
     <script type="application/javascript">
        window.onload = function(){
          var children = document.querySelectorAll('.rich-text a');
            for (var i=0; i<children.length; i++){
                children[i].setAttribute('target', '_blank');
            }
        };
    </script>


{% endblock %}