{% extends "base.html" %}
{% load static from staticfiles %}
{% load custom_tags wagtailcore_tags wagtailimages_tags %}

{% block meta-descriptions %}
    <meta name="description" content="{% if self.search_description %}{{ self.search_description }}{% else %}{{ self.title }}{% endif %}">
{% endblock %}

{% block canonical %}
    <link rel="canonical" href="{{ self.full_url }}" />
{% endblock %}

{% block meta-social-share %}
    <!-- Facebook share meta data -->
    <meta property="og:url"             content="http://{{ request.get_host }}{{ self.url }}" />
    <meta property="og:type"            content="Artículo" />
    <meta property="og:title"           content="{{ self.titulo }}" />
    {% if self.introduction %}
        <meta property="og:description"     content="{{ self.introduction }}" />
    {% else %}
        <meta property="og:description"     content="{{ self.titulo }}" />
    {% endif %}
    <meta property="og:site_name"       content="El Noticiero" />
    {% image self.photo fill-1024x512 as tmp_photo %}
    <meta property="og:image"           content="http://{{ request.get_host }}/{{ self.photo_fb_share }}" />
    <meta property="fb:app_id"          content="245391072463542" />

    <!-- Twitter card meta data -->
    <meta name="twitter:card"           content="summary_large_image">
    <meta name="twitter:site"           content="@elnoticierotc">
    <meta name="twitter:title"          content="{{ self.titulo }}">
    {% image self.photo fill-1200x630 as tmp_photo2 %}
    {% if self.introduction %}
        <meta name="twitter:description"    content="{{ self.introduction|truncatewords:170 }}" >
    {% else %}
        <meta name="twitter:description"    content="{{ self.titulo|truncatewords:170 }}" />
    {% endif %}
    <meta name="twitter:image"          content="http://{{ request.get_host }}/{{ self.photo_tw_share }}">
    <meta name="twitter:url"          content="http://{{ request.get_host }}{{ self.url }}">
{% endblock %}

{% block extra-css %}
    <style>@charset "UTF-8";.container{position:relative;max-width:960px;margin:0 auto;padding:0 20px}.column,.columns,.container{width:100%;box-sizing:border-box}.column,.columns{float:left}@media (min-width:400px){.container{width:85%;padding:0}}@media (min-width:550px){.container{width:80%}.column,.columns{margin-left:4%}.column:first-child,.columns:first-child{margin-left:0}.one.column,.one.columns{width:4.66667%}.two.columns{width:13.33333%}.three.columns{width:22%}.four.columns{width:30.66667%}.five.columns{width:39.33333%}.six.columns{width:48%}.seven.columns{width:56.66667%}.eight.columns{width:65.33333%}.nine.columns{width:74%}.ten.columns{width:82.66667%}.eleven.columns{width:91.33333%}.twelve.columns{width:100%;margin-left:0}.one-third.column{width:30.66667%}.two-thirds.column{width:65.33333%}.one-half.column{width:48%}.offset-by-one.column,.offset-by-one.columns{margin-left:8.66667%}.offset-by-two.column,.offset-by-two.columns{margin-left:17.33333%}.offset-by-three.column,.offset-by-three.columns{margin-left:26%}.offset-by-four.column,.offset-by-four.columns{margin-left:34.66667%}.offset-by-five.column,.offset-by-five.columns{margin-left:43.33333%}.offset-by-six.column,.offset-by-six.columns{margin-left:52%}.offset-by-seven.column,.offset-by-seven.columns{margin-left:60.66667%}.offset-by-eight.column,.offset-by-eight.columns{margin-left:69.33333%}.offset-by-nine.column,.offset-by-nine.columns{margin-left:78%}.offset-by-ten.column,.offset-by-ten.columns{margin-left:86.66667%}.offset-by-eleven.column,.offset-by-eleven.columns{margin-left:95.33333%}.offset-by-one-third.column,.offset-by-one-third.columns{margin-left:34.66667%}.offset-by-two-thirds.column,.offset-by-two-thirds.columns{margin-left:69.33333%}.offset-by-one-half.column{margin-left:52%}.offset-by-two-and-a-half.column,.offset-by-two-and-a-half.columns{margin-left:21.66667%}}a{color:#3d84dd;text-decoration:none}a:hover{color:#2776d9}@font-face{font-family:Charis SIL Regular;src:url(/static/fonts/charis-sil/charis-sil.woff2) format("woff2"),url(/static/fonts/charis-sil/charis-sil.woff) format("woff"),url(/static/fonts/charis-sil/charis-sil.ttf) format("truetype")}@font-face{font-family:Proxima Nova Light;src:url(/static/fonts/proxima-nova/proxima-nova-light.woff2) format("woff2"),url(/static/fonts/proxima-nova/proxima-nova-light.woff) format("woff"),url(/fonts/proxima-nova/proxima-nova-light.ttf) format("truetype")}@font-face{font-family:Proxima Nova S Medium;src:url(/static/fonts/proxima-nova-s/proxima-nova-s-medium.woff2) format("woff2"),url(/static/fonts/proxima-nova-s/proxima-nova-s-medium.woff) format("woff"),url(/static/fonts/proxima-nova-s/proxima-nova-s-medium.ttf) format("truetype")}@font-face{font-family:icomoon;src:url(/static/fonts/icomoon/icomoon.woff2) format("woff2"),url(/static/fonts/icomoon/icomoon.woff) format("woff"),url(/static/fonts/icomoon/icomoon.ttf) format("truetype");font-weight:400;font-style:normal}html{font-size:62.5%}body{margin:0;padding:0;font-family:Proxima Nova Light,Helvetica Neue Light,Helvetica,Arial,sans-serif}img{max-width:100%;height:auto}button{background-color:transparent}.header .container,.main-news-4 .grid,.main-news-7 .grid{margin:0 auto}.ads a{display:inline-block}.ads img{vertical-align:bottom}.ads.leaderboard{background:#f5f5f5}@media (min-width:550px){.ads.leaderboard{padding:20px 0}}.button-social{display:inline-block;box-sizing:border-box;width:4.4rem;height:4.4rem;border:.1rem solid;text-align:center}.button-social span{font-size:4rem}@media (min-width:1000px){.button-social{-webkit-transition:background .25s ease;transition:background .25s ease}}.button-social.small{width:4rem;height:4rem}@media (min-width:1000px){.button-social.small{width:3rem;height:3rem}.button-social.small span{font-size:2.6rem}}.facebook{color:#385185;border-color:#385185}.facebook:hover{background:#385185;color:#fff;border-color:#385185}.twitter{color:#55acee;border-color:#55acee}.twitter:hover{background:#55acee;color:#fff;border-color:#55acee}.instagram{color:#2b5b83;border-color:#2b5b83}.instagram:hover{background:#2b5b83;color:#fff;border-color:#2b5b83}.whatsapp{color:#3cdf57;border-color:#3cdf57}.whatsapp:hover{background:#3cdf57;color:#fff;border-color:#3cdf57}.mail{color:#52d3c1}.mail,.mail:hover{border-color:#52d3c1}.mail:hover{background:#52d3c1;color:#fff}.circle.facebook:hover{background:none;color:#385185;border-color:#385185}.circle.twitter:hover{background:none;color:#55acee;border-color:#55acee}.circle.instagram:hover,.circle.whatsapp:hover{background:none;color:#2b5b83;border-color:#2b5b83}.circle.mail:hover{background:none;color:#52d3c1;border-color:#52d3c1}.button-social.circle{color:#e4e4e4;border-color:#e4e4e4;border-radius:50%}.button-social.tab{border-radius:.35rem .35rem 0 0;border-bottom:none}.button-social.tab-inverted{border-radius:0 0 .35rem .35rem;border-top:none}.headings{font-family:Proxima Nova S Medium,Proxima Nova Light,Helvetica Neue Light,Helvetica,Arial,sans-serif}.headings,.headings a,h1.headings{color:#3d84dd}h1.headings{height:6rem;margin-bottom:0;background:#f5f5f5;text-align:center;line-height:6rem;border-bottom:1px solid #9b9b9b;font-size:2.6rem}@media (min-width:1000px){h1.headings{font-size:2.4rem}}h2.headings{margin-bottom:1.7rem;color:#0943a5;font-size:2.6rem;line-height:1.125}@media (min-width:1000px){h2.headings{margin-bottom:2rem;font-size:2.4rem;line-height:1.2125}}h3.headings{margin-bottom:1rem;font-size:1.8rem;line-height:1.05}@media (min-width:1000px){h3.headings{font-size:1.8rem;line-height:1.22}}[class*=" icon-"],[class^=icon-]{font-family:icomoon,monospace;speak:none;font-size:4.4rem;font-style:normal;font-weight:400;font-variant:normal;text-transform:none;line-height:1;vertical-align:middle;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}.icon-calendar:before{content:""}.icon-clock:before{content:""}.icon-close:before{content:""}.icon-contacts:before{content:""}.icon-down:before{content:""}.icon-facebook:before{content:""}.icon-film:before{content:""}.icon-instagram:before{content:""}.icon-left:before{content:""}.icon-mail-subscribe:before{content:""}.icon-mail:before{content:""}.icon-menu:before{content:""}.icon-play:before{content:""}.icon-quote-left:before{content:""}.icon-right:before{content:""}.icon-search:before{content:""}.icon-shortcuts:before{content:""}.icon-sub-menu:before{content:""}.icon-twitter:before{content:""}.icon-up:before{content:""}.icon-whatsapp:before{content:""}.icon-world:before{content:""}h1,h2,h3,h4,h5,h6{font-family:Charis SIL Regular,Georgia,Times New Roman,Times,serif;font-weight:100}h1 a,h2 a,h3 a,h4 a,h5 a,h6 a{color:#333}h1{font-size:3.2rem;line-height:1.125}@media (min-width:1000px){h1{font-size:4.8rem;line-height:1.125}}h2{margin-bottom:20px;font-size:2.6rem;line-height:1.25}@media (min-width:1000px){h2{font-size:3rem;line-height:1.3}}h3{font-size:2.2rem;line-height:1.625}@media (min-width:1000px){h3{font-size:2.4rem;line-height:1.25}}h4{font-size:2rem;line-height:1.4}@media (min-width:1000px){h4{font-size:2rem;line-height:1.35}}p{margin-bottom:30px;font-family:Proxima Nova Light,Helvetica Neue Light,Helvetica,Arial,sans-serif;font-size:1.6rem;line-height:1.4375;-webkit-font-smoothing:antialiased}@media (min-width:750px){p{font-size:1.8rem;line-height:1.85}}small{font-size:1.2rem;line-height:1.175}@media (min-width:750px){small{font-size:1.4rem;line-height:1.225}}.video-container{box-sizing:border-box;position:relative;max-width:100%;height:0;padding-bottom:56.25%;padding-top:30px;overflow:hidden;background:#f0f4f9;background:radial-gradient(50% 98%,rgba(61,131,221,.05) 0,rgba(3,39,119,.1) 100%)}.video-container embed,.video-container iframe,.video-container object{position:absolute;top:0;left:0;width:100%;height:100%;border:none}.ads.leaderboard{background:#f5f5f5;padding:6px 15px 7px}@media (min-width:550px){.ads.leaderboard{padding:20px 0 13px}}@media (min-width:550px){.ads.leaderboard a{width:728px;height:90px}}.ads.leaderboard.no-background{background:none}.ads.wrapper{background:#f5f5f5}.ads.wrapper .full-banner{display:inline-block;margin:auto 15px;vertical-align:bottom}.ads.wrapper .full-banner:first-child{margin-top:15px;margin-bottom:5px}.ads.wrapper .full-banner:last-child{margin-top:5px;margin-bottom:15px}@media (min-width:1000px){.ads.wrapper .full-banner:first-child,.ads.wrapper .full-banner:last-child{margin:45px 10px 30px}}.ads.wrapper.no-background{background:none}.margin-bottom{margin-bottom:40px}.ads.columns{position:relative;margin-bottom:35px}.ads.columns .medium-rectangle{margin-bottom:25px}@media (min-width:550px){.other-news .ads.columns{height:550px;margin-bottom:30px}}@media (min-width:550px){.other-news-mini .ads.columns{height:375px;padding-top:44px}}@media (min-width:550px){.video-gallery .ads.columns{height:365px}}.latest-news .ads.medium-rectangle,.related-news .ads.medium-rectangle,.streamfields .ads.medium-rectangle{margin-bottom:15px}.latest-news .ads.medium-rectangle div,.related-news .ads.medium-rectangle div,.streamfields .ads.medium-rectangle div{margin:0 auto!important}.latest-news .ads.button-ad,.related-news .ads.button-ad,.streamfields .ads.button-ad{margin-bottom:15px}.ads{text-align:center}.social-media{display:inline}.social-media .button-social{margin-left:5px;margin-right:5px}.social-media .button-social.mail{display:none}@media (min-width:750px){.social-media .button-social.mail{display:inline-block}.social-media .button-social.whatsapp{display:none}}@media (min-width:1000px){.social-media .button-social{margin-left:2px;margin-right:2px}.social-media .button-social:first-child{margin-left:0}.social-media .button-social:last-child{margin-right:0}}.meta-data{margin-bottom:2.5rem;color:#9b9b9b;font-family:Charis SIL Regular,Georgia,Times New Roman,Times,serif}.meta-data .icon-clock,.meta-data .text{line-height:1}.meta-data .icon-clock{vertical-align:middle;font-size:2rem}.meta-data .text{font-size:1.3rem}.article-header{padding-top:25px;overflow:hidden}@media (min-width:1000px){.article-header h1{width:74%}}.article-header hr{margin-bottom:0;border:1px solid #fc0}.article-header .meta-data{margin-top:20px;margin-bottom:0;text-align:center}.article-header .social-media{display:block;text-align:center}@media (min-width:550px){.article-header .meta-data,.article-header .social-media{width:100%}}@media (min-width:750px){.article-header{padding-top:45px}.article-header .meta-data{float:left;width:65.33333%;margin-top:10px;text-align:left}.article-header .social-media{float:right;text-align:right;width:30.66667%}}.article-header.no-padding-top{padding-top:0}.menu-mobile .location{padding-top:30px}.menu-mobile .location .headings{color:#fff;font-family:Proxima Nova Light,Helvetica Neue Light,Helvetica,Arial,sans-serif;font-weight:100;font-size:1.6rem;text-transform:capitalize}.menu-mobile .location li{list-style-type:disc}.menu-mobile .location a{text-transform:capitalize;font-size:1.6rem}.menu-mobile .category a{font-size:1.4rem;line-height:3.3rem}.menu-mobile .shortcuts a{font-family:Proxima Nova Light,Helvetica Neue Light,Helvetica,Arial,sans-serif;text-transform:uppercase}.menu-mobile .social-links{padding-bottom:30px;text-align:center}.menu-mobile .social-links a{margin-left:9px;margin-right:9px}.menu-mobile .social-links a:hover{border-color:#fc0;color:#fc0}header .menu-mobile{z-index:1;position:absolute;left:0;height:auto;display:none;width:85%;margin-left:0;background:#333;color:#fff;text-align:left}header .menu-mobile div{padding:0 20px}header .menu-mobile div a{color:#fff}header .menu-mobile div a:hover{color:#fc0}header .menu-mobile div ul{margin-bottom:0}header .menu-mobile div li{list-style-type:none}header .menu-mobile hr{margin-bottom:30px;border-color:gold}@media (min-width:550px){header .menu-mobile{width:70%}}@media (min-width:750px){header .menu-mobile{visibility:hidden}}.main-row .left #button-menu-mobile{margin:0;padding:0;border:none}.main-row .left #button-menu-mobile:hover span{color:#3d84dd}@media (min-width:750px){.main-row .left{padding:0!important}.main-row .left #button-menu-mobile{display:none}}.main-row .center{height:44px}.main-row .center .vertical-align{display:inline-block;height:100%;vertical-align:middle}.main-row .center .logo{max-width:50%;height:44px;white-space:nowrap;text-align:center}.main-row .center .logo img{max-width:100%;height:auto;vertical-align:middle}@media (min-width:750px){.main-row .center{text-align:left}.main-row .center .logo img{max-width:80%}}@media (min-width:1000px){.main-row .center{height:auto}.main-row .center .logo img{max-width:100%}}.main-row .right{height:44px;text-align:right}.main-row .right button{margin:0;padding:0;border:none}.main-row .right .button-icon-label .text,.main-row .right .button-icon-label:nth-child(2),.main-row .right .button-social{display:none}@media (min-width:750px){.main-row .right .button-icon-label:nth-child(2),.main-row .right .button-social{display:inline-block}}@media (min-width:1000px){.main-row .right button{margin-right:10px}.main-row .right .button-icon-label .text{display:inline-block;text-transform:uppercase}.main-row .right .button-icon-label [class*=" icon-"],.main-row .right .button-icon-label [class^=icon-]{vertical-align:middle;color:#cacaca}.main-row .right .button-icon-label:hover [class*=" icon-"],.main-row .right .button-icon-label:hover [class^=icon-]{color:#3d84dd}.main-row .right .button-social{width:3.6rem;height:3.6rem;margin-left:3px;margin-right:3px}.main-row .right .button-social:first-child{margin-left:0}.main-row .right .button-social:last-child{margin-right:0}.main-row .right .button-social span{font-size:3.1rem}}.header .main-row{position:relative;height:44px;text-align:center}.header .main-row .left,.header .main-row .right{position:absolute;top:0;width:44px;bottom:0}.header .main-row .left{left:0}.header .main-row .right{right:0}.header .main-row .center{margin:0 54px}@media (min-width:750px){.header .main-row{margin-bottom:60px}.header .main-row .left{display:none}.header .main-row .right{width:50%;padding:0}.header .main-row .center{margin-left:15px;padding-left:0}}@media (min-width:750px){#menu-tablet{z-index:1;position:absolute;right:0;width:300px;height:auto;background:#fff;border:1px solid #3d84dd;box-shadow:0 5px 5px 5px rgba(0,0,0,.15)}#menu-tablet li{width:100%}#menu-tablet li a{display:block;margin:0;color:#9b9b9b;text-align:left;text-indent:10px;line-height:44px}#menu-tablet li a:hover{background:#f5f5f5;color:#3d84dd}#menu-tablet li:last-child{margin-bottom:0}}@media (min-width:940px){#menu-tablet li:nth-child(1){display:none}}@media (min-width:1060px){#menu-tablet{visibility:hidden}}.header .menu-row{display:none}@media (min-width:750px){.header .menu-row{position:relative;display:block;box-sizing:border-box;border-top:2px solid #0943a5;border-bottom:1px solid #3d84dd}.header .menu-row #button-sub-menu,.header .menu-row nav{display:inline}.header .menu-row #button-menu-tablet{margin:0;padding:0;border:none}.header .menu-row #button-menu-tablet,.header .menu-row a{margin-left:9px;margin-right:9px}.header .menu-row a:nth-child(6),.header .menu-row a:nth-child(7){display:none}}@media (min-width:940px){.header .menu-row a:nth-child(6){display:inline}.header .menu-row a:nth-child(7){display:none}}@media (min-width:1060px){.header .menu-row{padding-top:14px;padding-bottom:10px}.header .menu-row a:nth-child(6),.header .menu-row a:nth-child(7){display:inline}.header .menu-row #button-menu-tablet{display:none}}.header .location-row{display:none}@media (min-width:750px){.header .location-row{display:block;margin-top:20px}.header .location-row span{margin-left:5px;margin-right:5px}.header .location-row button{margin:0;border:none;text-transform:uppercase;font-weight:400;text-align:center;font-size:1.4rem;line-height:1.92rem;padding:0}}.header{margin:16px auto;color:#9b9b9b;font-family:Proxima Nova S Medium,Proxima Nova Light,Helvetica Neue Light,Helvetica,Arial,sans-serif;text-transform:uppercase;text-align:center;font-size:1.4rem;line-height:1.92rem}.header .container{width:95%;padding:0}.header a,.header button{color:#9b9b9b}.header a:hover,.header button:hover{color:#3d84dd}@media (min-width:550px){.header{margin:20px auto 25px}}@media (min-width:1000px){.header{margin:30px auto 40px}}.header .active{color:#0943a5}.streamfields .blockquote blockquote{margin-top:60px;margin-left:0;margin-right:0;max-height:260px;background:#333;color:#fff;font-family:Charis SIL Regular,Georgia,Times New Roman,Times,serif;text-align:center}.streamfields .blockquote blockquote .left,.streamfields .blockquote blockquote .right{box-sizing:border-box}.streamfields .blockquote blockquote .left img{margin-top:-40px;width:80px;height:80px;border-radius:50%;-webkit-filter:grayscale(1);filter:grayscale(1)}.streamfields .blockquote blockquote .right{background:#333;padding:20px 20px 40px}.streamfields .blockquote blockquote .right .icon-quote-left{color:#fc0}.streamfields .blockquote blockquote .right p{font-size:1.8rem;line-height:1.22;font-style:italic;margin-bottom:1rem}.streamfields .blockquote blockquote .right .author{font-size:1.3rem;line-height:1.7}.streamfields .blockquote blockquote .right .author:before{content:"-";margin-right:5px}@media (min-width:750px){.streamfields .blockquote blockquote{margin-top:50px;overflow:auto}.streamfields .blockquote blockquote .left,.streamfields .blockquote blockquote .right{float:left;height:260px;padding:40px}.streamfields .blockquote blockquote .left{width:34%;background:#cacaca;text-align:right}.streamfields .blockquote blockquote .left .vertical-align{display:inline-block;height:100%;vertical-align:middle}.streamfields .blockquote blockquote .left img{margin-top:0;max-width:none;width:150px;height:150px;vertical-align:middle}.streamfields .blockquote blockquote .right{width:66%;text-align:left}.streamfields .blockquote blockquote .right .icon-quote-left{margin-left:-5px}}@media (min-width:1000px){.streamfields .blockquote blockquote p{max-width:74%;line-height:1.667}}.streamfields .html-embed{text-align:center}.streamfields .html-embed iframe{margin:0 auto;text-align:center;border:none;min-height:0}@media (max-width:400px){.streamfields .html-embed iframe{width:100%;height:auto}}.streamfields .image{background:#333}.streamfields .image img{display:block;margin:0 auto}.panorama img,.streamfields .image img{width:100%;height:auto;vertical-align:bottom}.streamfields .paragraph b,.streamfields .paragraph div,.streamfields .paragraph em,.streamfields .paragraph strong{margin-bottom:30px;font-family:Proxima Nova Light,Helvetica Neue Light,Helvetica,Arial,sans-serif;font-size:1.6rem;line-height:1.4375;-webkit-font-smoothing:antialiased}@media (min-width:750px){.streamfields .paragraph b,.streamfields .paragraph div,.streamfields .paragraph em,.streamfields .paragraph strong{font-size:1.8rem;line-height:1.85}}.streamfields .paragraph b,.streamfields .paragraph em,.streamfields .paragraph strong{font-style:normal;font-weight:400}.streamfields .paragraph li{margin-bottom:0}.streamfields .paragraph br{display:none}@media (min-width:750px){.streamfields .paragraph p:last-child{margin-bottom:0}}.streamfields .paragraph .rich-text{margin-bottom:0}.streamfields .phrase p{box-sizing:border-box;padding-left:28px;text-align:left;border-left:2px solid #fc0;font-size:2.2rem;line-height:2.6rem}@media (min-width:750px){.streamfields .phrase p{font-size:2.4rem;line-height:2.8rem;width:75%}}.streamfields{padding-top:0;padding-bottom:0}.streamfields .blockquote,.streamfields .panorama{margin:0 auto 40px}.streamfields .html-embed,.streamfields .image,.streamfields .paragraph,.streamfields .phrase,.streamfields .subtitle,.streamfields .video{position:relative;width:100%;max-width:960px;margin:0 auto 40px;padding:0 20px;box-sizing:border-box}@media (min-width:400px){.streamfields .html-embed,.streamfields .image,.streamfields .paragraph,.streamfields .phrase,.streamfields .subtitle,.streamfields .video{width:85%;padding:0}}@media (min-width:550px){.streamfields .html-embed,.streamfields .image,.streamfields .paragraph,.streamfields .phrase,.streamfields .subtitle,.streamfields .video{width:80%}}@media (min-width:750px){.streamfields .html-embed,.streamfields .image,.streamfields .paragraph,.streamfields .phrase,.streamfields .subtitle,.streamfields .video{width:66%}}@media (min-width:1000px){.streamfields .html-embed,.streamfields .image,.streamfields .paragraph,.streamfields .phrase,.streamfields .subtitle,.streamfields .video{width:48%}}.streamfields :last-child{margin-bottom:0}.streamfields .eight>*{width:100%}</style>

    <style type="text/css">
        /* The Modal (background) */
        #id_email{
            width: 100% !important;
        }
        .popup {
          display: none;
          position: fixed;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
          padding-top: 10%;
          z-index: 9001;
          background-color: black;
          background-color: rgba(0, 0, 0, 0.4);
        }
          .popup .popup-container {
            position: relative;
            width: 80%;
            max-width: 640px;
            margin: auto;
            padding: 20px;
            background-color: #f5f5f5;
          }
          .popup .popup-header {
            width: 100%;
            margin: 0 auto;
              text-align: center;
          }
          .popup .logo {
            margin: 0 auto;
            height: 20px;
          }
          .popup .close-btn {
            display: none;
            position: absolute;
            top: 4px;
            right: 4px;
            height: 32px;
            width: 32px;
            font: bold 28px/36px "Proxima Nova", helvetica, arial, sans-serif;
            color: #666;
            text-align: center;
            border-radius: 50%;
          }
            .popup .close-btn:hover, .popup .close-btn:focus {
              background-color: #cacaca;
              color: white;
              text-decoration: none;
              cursor: pointer;
            }
          .popup .popup-text {
            font: 100 16px/18px "Proxima Nova", helvetica, arial, sans-serif;
            text-align: center;
            margin: 20px 10%;
          }
          .popup input[type=email] {
            width: 100%;
            height: 48px;
            margin-bottom: 20px;
            font: 100 12px/12px "Proxima Nova", helvetica, arial, sans-serif;
            text-indent: 10px;
            color: #333333;
            background-color: white;
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            border-radius: 2px;
            border: 1px solid #cacaca;
          }
          .popup form {
            margin: 0 auto;
          }
          .popup-container{
              height: 300px;
          }
          .popup .submit-btn {
            width: 100%;
            height: 56px;
            margin: 0 auto;
            color: #FfFfFf;
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            border-radius: 2px;
            -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.24);
            -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.24);
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.24);
            background: #0943a5;
            text-decoration: none;
            border-width: 0;
          }
          .popup .submit-text {
            font: 200 16px/30px "Proxima Nova", helvetica, arial, sans-serif;
            background-color: #0943a5;
          }
          .popup .error-message {
            margin-top: 10px;
            font: 200 16px/26px "Proxima Nova", helvetica, arial, sans-serif;
            color: red;
            height: 40px;
          }
          .popup-footer {
              width: 100%;
          }

          @media (min-width: 550px) {
            .popup {
              padding-top: 15%;
            }
               .popup .logo {
                   margin: 0 auto;
                   height: 27px;
               }
              .popup form {
                width: 440px;
                min-width: 400px;
                margin: 0 auto;
              }
              .popup-container{
                  height: 265px;
              }
              .popup .submit-btn {
                width: 100%;
                min-width: 120px;
                height: 48px;
                float: right;
              }

              .popup .popup-footer {
                width: 440px;
                min-width: 400px;
                margin: 0 auto;
              }
          }

          @media (min-width: 1000px) {
            .popup {
              padding-top: 20%;
            }
              .popup .logo {
                   margin: 0 auto;
                   height: 27px;
              }
              .popup-container{
                  height: 245px;
              }
              .popup .submit-btn {
                width: 160px;
              }

          }
    </style>
{% endblock %}

{% block localizacion %}
    {% include 'core/includes/base/locations.html' with page=self location=self.localizacion.id %}
{% endblock %}

{% block title %}{{ self.titulo }}{% endblock %}

{% block events %}{% endblock %}

{% block content %}
    <!-- Cover picture -->
    {% include 'core/includes/news-articles/cover-picture.html' %}
    <!-- Full Banners -->
    {% block ads_fullbanners %}
        {% include 'core/ads/full-banners.html' %}
    {% endblock %}
    <!-- Title header -->
    {% include 'core/includes/news-articles/title-header.html' %}

    {% include 'core/includes/base/modal-subscribe.html' %}
    <!-- Streamfields -->
    {% include 'core/includes/news-articles/streamfields.html' %}

    <!-- Related news -->
    {% related_articles article=self %}
    <!-- Latest news -->
    {% latest_articles article=self %}

    <!-- Medium rectangle 1 -->
    {% include "core/ads/medium-rectangle-1.html" %}
    <!-- Medium rectangle 2 -->
    {% include "core/ads/medium-rectangle-2.html" %}
    <!-- Button ad 1 -->
    {% include "core/ads/button-ad-1.html" %}
    <!-- Button ad 2 -->
    {% include "core/ads/button-ad-2.html" %}

    <!-- Scripts -->
    {% include 'core/js/article-single-column-layout.html' %}
{% endblock %}

<!-- Extra scripts -->
{% block extra_js %}
    <script type="application/javascript">
        window.onload = function(){
          var children = document.querySelectorAll('.rich-text a');
          for (var i=0; i<children.length; i++){
                children[i].setAttribute('target', '_blank');
          }
        };
    </script>

{% endblock %}

