{% extends 'base.html' %}
{% load wagtailcore_tags wagtailimages_tags custom_tags %}

{% block title %}El Noticiero - {{ page.title }}{% endblock %}

{% block canonical %}{% endblock canonical %}

{% block full_banners %}
    {% include 'core/ads/full-banners.html' %}
{% endblock %}

<!--- Content --->
{% block content %}

   <section class='streamfields'>

        <div class="html-embed">
              <iframe src="http://origin.elcanaldelfutbol.com/jw/tc.html"
                      style="border:0px #ffffff none;" name="myiFrame"
                    scrolling="no" frameborder="1" marginheight="0px" marginwidth="0px" height="400px"
                    width="600px" allowfullscreen>
            </iframe>
        </div>

    </section>
{% endblock %}


<!-- Extra scripts -->
{% block extra_js %}

{% endblock %}