{% load static from staticfiles %}
{% load custom_tags wagtailcore_tags wagtailimages_tags %}

<!--Main news Home-->
{% block main_news %}

    {% include 'core/tags/home/main-news/articles.html' with articles=articles %}

{% endblock %}

{% block ads_fullbanners %}
    {% include 'core/ads/full-banners.html' %}
{% endblock %}

<!--On Screen Home-->
{% block on_screen %}
    {% with dailymotion_path="//www.dailymotion.com/embed/video/" dailymotion_thumbnail="//www.dailymotion.com/thumbnail/video/" properties_video="?html=true&amp;info=0&amp;logo=0&amp;related=0" %}
        <section class="on-screen" id="video-player">
            <header class="container section-header">
                <h2 class="headings">En pantalla</h2>
                <div class="triangle">
                    <img src="{% static 'images/defer.png' %}" data-src="{% static 'images/on-screen/triangle.svg' %}"
                         alt="Ornamento en forma de triángulo del título">
                </div>
            </header>
            <div class="container">
                <!-- article title and meta data -->
                <div class="row">
                    <div class="eight columns">
                        <header class="title-header">
                            <h3 id="title-main-video">{{ on_screen.0.titulo }}</h3>
                            <span class="meta-data">
                                <span class="icon-clock"><!-- icon --></span>
                                <span class="date-video">{{ on_screen.0.first_published_at|time_filter_custom }}</span>
                            </span>
                            {% include 'core/includes/base/social-media.html' with article=on_screen.0 class="tab" utm='home-on-screen' only %}
                        </header>
                    </div>
                </div>
                <!-- video player and aside thumbnails -->
                <div class="row">
                    <div class="eight columns">
                        <div class="video-container">
                            <iframe id="iframe-video" width="16" height="9"
                                    data-src="{{ dailymotion_path }}{{ on_screen.0.video|get_code_format_video }}{{ properties_video }}"
                                    allowfullscreen >
                            </iframe>
                        </div>
                    </div>
                    <aside class="four columns">
                        {% for article in on_screen %}
                            {% include 'core/tags/home/on-screen/video-button-articles.html' %}
                        {% endfor %}
                    </aside>
                </div>
                <!-- go to video library button -->
                <div class="row">
                    <a class="button button-wide" href="{% pageurl_slug 'videoteca' %}">
                        <span class="icon-film"><!-- icon --></span>
                        <span class="label">Ver más videos</span>
                    </a>
                </div>
            </div>
        </section>
    {% endwith %}
{% endblock %}

<!-- Other news for Home -->
{% block other_news %}
    <section class="other-news">
        <div class="container">
            <div class="row gallery-grid">
                {% for article in articles|slice:"7:9" %}
                    {% include "core/tags/home/other-news/news-block.html" %}
                {% endfor %}
                {% include "core/ads/combo1.html" %}
                {% for article in articles|slice:"9:11" %}
                    {% include "core/tags/home/other-news/news-block.html" %}
                {% endfor %}
                {% include "core/ads/combo2.html" %}
                {% for article in articles|slice:"11:14" %}
                    {% include "core/tags/home/other-news/news-block.html" %}
                {% endfor %}
            </div>

            <div class="row gallery-grid load"></div>

            {% if parametro %}
                <div class="row load-more">
                    <button class="button button-wide" onclick="loadMore()">
                        <span class="icon-down"><!-- icon --></span>
                        <span class="label">Cargar más</span>
                    </button>
                </div>
            {% endif %}
        </div>
    </section>
{% endblock %}