{% load wagtailcore_tags wagtailimages_tags custom_tags %}

{% if events %}
    <section class="mundial">
        <div class="eliminatorias"></div>
        {% for event in events %}
            <div class="fecha">{{ event.fecha|date:"d b"|upper }}</div>
            <div class="partido">
                <div class="pais {{ event.equipo1.siglas }} l">{{ event.equipo1.siglas }}</div>
                <div class="pais {{ event.equipo2.siglas }} r">{{ event.equipo2.siglas }}</div>
                <div class="hora">{% event_custom_score event event.hora %}</div>
            </div>
        {% endfor %}
    </section>
{% endif %}