@charset "UTF-8";
/** Skeleton V2.0.4
 ** Copyright 2014, Dave Gamache
 ** www.getskeleton.com
 ** Free to use under the MIT license.
 ** http://www.opensource.org/licenses/mit-license.php
 ** 12/9/2014
 ** Sass Version by Seth Coelen https://github.com/whatsnewsaes */
/* Skeleton | Variables SASS document */
/* Skeleton | Grid SASS document */
/* Skeleton | Variables SASS document */
.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.column,
.columns {
  width: 100%;
  float: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0; } }
@media (min-width: 550px) {
  .container {
    width: 80%; }

  .column,
  .columns {
    margin-left: 4%; }

  .column:first-child,
  .columns:first-child {
    margin-left: 0; }

  .one.column,
  .one.columns {
    width: 4.66667%; }

  .two.columns {
    width: 13.33333%; }

  .three.columns {
    width: 22%; }

  .four.columns {
    width: 30.66667%; }

  .five.columns {
    width: 39.33333%; }

  .six.columns {
    width: 48%; }

  .seven.columns {
    width: 56.66667%; }

  .eight.columns {
    width: 65.33333%; }

  .nine.columns {
    width: 74%; }

  .ten.columns {
    width: 82.66667%; }

  .eleven.columns {
    width: 91.33333%; }

  .twelve.columns {
    width: 100%;
    margin-left: 0; }

  .one-third.column {
    width: 30.66667%; }

  .two-thirds.column {
    width: 65.33333%; }

  .one-half.column {
    width: 48%; }

  .offset-by-one.column,
  .offset-by-one.columns {
    margin-left: 8.66667%; }

  .offset-by-two.column,
  .offset-by-two.columns {
    margin-left: 17.33333%; }

  .offset-by-three.column,
  .offset-by-three.columns {
    margin-left: 26%; }

  .offset-by-four.column,
  .offset-by-four.columns {
    margin-left: 34.66667%; }

  .offset-by-five.column,
  .offset-by-five.columns {
    margin-left: 43.33333%; }

  .offset-by-six.column,
  .offset-by-six.columns {
    margin-left: 52%; }

  .offset-by-seven.column,
  .offset-by-seven.columns {
    margin-left: 60.66667%; }

  .offset-by-eight.column,
  .offset-by-eight.columns {
    margin-left: 69.33333%; }

  .offset-by-nine.column,
  .offset-by-nine.columns {
    margin-left: 78%; }

  .offset-by-ten.column,
  .offset-by-ten.columns {
    margin-left: 86.66667%; }

  .offset-by-eleven.column,
  .offset-by-eleven.columns {
    margin-left: 95.33333%; }

  .offset-by-one-third.column,
  .offset-by-one-third.columns {
    margin-left: 34.66667%; }

  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns {
    margin-left: 69.33333%; }

  .offset-by-one-half.column,
  .offset-by-one-half.column {
    margin-left: 52%; }

  .offset-by-two-and-a-half.column,
  .offset-by-two-and-a-half.columns {
    margin-left: 21.66667%; } }
/* Skeleton | Base styles SASS document */
/* Skeleton | Variables SASS document */
html {
  font-size: 62.5%; }

body {
  font-size: 1.5em;
  line-height: 1.6;
  font-weight: 400;
  font-family: "Raleway Regular", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222222; }

/* Skeleton | Typography SASS document */
/* Skeleton | Variables SASS document */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300; }

h1 {
  font-size: 4rem;
  line-height: 1.2; }

h2 {
  font-size: 3.6rem;
  line-height: 1.25; }

h3 {
  font-size: 3rem;
  line-height: 1.3; }

h4 {
  font-size: 2.4rem;
  line-height: 1.35; }

h5 {
  font-size: 1.8rem;
  line-height: 1.5; }

h6 {
  font-size: 1.5rem;
  line-height: 1.6; }

@media (min-width: 550px) {
  h1 {
    font-size: 5rem; }

  h2 {
    font-size: 4.2rem; }

  h3 {
    font-size: 3.6rem; }

  h4 {
    font-size: 3rem; }

  h5 {
    font-size: 2.4rem; }

  h6 {
    font-size: 1.5rem; } }
p {
  margin-top: 0; }

/* Skeleton | Links SASS document */
/* Skeleton | Variables SASS document */
a {
  color: #3D84DD;
  text-decoration: none; }
  a:hover {
    color: #2776d9; }

/* Skeleton | Buttons SASS document */
/* Skeleton | Variables SASS document */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  min-height: 38px;
  padding: 0 30px;
  color: #555555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbbbbb;
  cursor: pointer;
  box-sizing: border-box; }

.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
  color: #333333;
  border-color: #888888;
  outline: 0; }

.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #333333;
  border-color: #888888;
  outline: 0; }

.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #fff;
  background-color: #0943A5;
  border-color: #0943A5; }

.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover {
  color: #fff;
  background-color: #073685;
  border-color: #073685; }

.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #fff;
  background-color: #3D84DD;
  border-color: #3D84DD; }

input[type="email"], input[type="number"], input[type="search"], input[type="text"], input[type="tel"], input[type="url"], input[type="password"] {
  height: 38px;
  padding: 6px 10px;
  background-color: #fff;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box; }

/* Skeleton | Forms SASS document */
/* Skeleton | Variables SASS document */
textarea,
select {
  height: 38px;
  padding: 6px 10px;
  background-color: white;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box; }

input[type="date"], input[type="email"], input[type="number"], input[type="search"], input[type="text"], input[type="tel"], input[type="url"], input[type="password"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px; }

input[type="date"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="text"]:focus, input[type="tel"]:focus, input[type="url"]:focus, input[type="password"]:focus {
  border: 1px solid #0943A5;
  outline: 0; }

textarea:focus,
select:focus {
  border: 1px solid #0943A5;
  outline: 0; }

label,
legend {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 600; }

fieldset {
  padding: 0;
  border-width: 0; }

input[type="checkbox"], input[type="radio"] {
  display: inline; }

label > .label-body {
  display: inline-block;
  margin-left: 0.5rem;
  font-weight: normal; }

/* Skeleton | List SASS document */
ul {
  list-style: circle inside; }

ol {
  list-style: decimal inside;
  padding-left: 0;
  margin-top: 0; }

ul {
  padding-left: 0;
  margin-top: 0; }
  ul ul, ul ol {
    margin: 1.5rem 0 1.5rem 3rem;
    font-size: 90%; }

ol ol, ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%; }

li {
  margin-bottom: 1rem; }

/* Skeleton | Spacing SASS document */
button,
.button {
  margin-bottom: 1rem; }

input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem; }

pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: 2.5rem; }

/* Skeleton | Spacing SASS document */
/* Skeleton | Variables SASS document */
hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #e1e1e1; }

/* Skeleton | Utilities SASS document */
.u-full-width {
  width: 100%;
  box-sizing: border-box; }

.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; }

.u-pull-right {
  float: right; }

.u-pull-left {
  float: left; }

/* Skeleton | Clearing SASS document */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }

/* Font SASS Document */
@font-face {
  font-family: "Charis SIL Regular";
  src: url("../fonts/charis-sil/charis-sil.woff2") format("woff2"), url("../fonts/charis-sil/charis-sil.woff") format("woff"), url("../fonts/charis-sil/charis-sil.ttf") format("truetype"); }
@font-face {
  font-family: "Proxima Nova Light";
  src: url("../fonts/proxima-nova/proxima-nova-light.woff2") format("woff2"), url("../fonts/proxima-nova/proxima-nova-light.woff") format("woff"), url("../fonts/proxima-nova/proxima-nova-light.ttf") format("truetype"); }
@font-face {
  font-family: "Proxima Nova S Medium";
  src: url("../fonts/proxima-nova-s/proxima-nova-s-medium.woff2") format("woff2"), url("../fonts/proxima-nova-s/proxima-nova-s-medium.woff") format("woff"), url("../fonts/proxima-nova-s/proxima-nova-s-medium.ttf") format("truetype"); }
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon/icomoon.woff2") format("woff2"), url("../fonts/icomoon/icomoon.woff") format("woff"), url("../fonts/icomoon/icomoon.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
/* Variables SASS document */
/* Headings SASS document */
/* Variables SASS document */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Charis SIL Regular", Georgia, "Times New Roman", Times, serif, serif; }
  h1 a,
  h2 a,
  h3 a,
  h4 a,
  h5 a,
  h6 a {
    color: #333333; }

h1 {
  font-size: 3.2rem;
  line-height: 1.125; }
  @media (min-width: 1000px) {
    h1 {
      font-size: 4.8rem;
      line-height: 1.125; } }

h2 {
  margin-bottom: 20px;
  font-size: 2.6rem;
  line-height: 1.25; }
  @media (min-width: 1000px) {
    h2 {
      font-size: 3rem;
      line-height: 1.3; } }

h3 {
  font-size: 2.2rem;
  line-height: 1.625; }
  @media (min-width: 1000px) {
    h3 {
      font-size: 2.4rem;
      line-height: 1.25; } }

h4 {
  font-size: 2rem;
  line-height: 1.4; }
  @media (min-width: 1000px) {
    h4 {
      font-size: 2rem;
      line-height: 1.35; } }

p {
  margin-bottom: 30px;
  font-family: "Proxima Nova Light", "Helvetica Neue Light", Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  line-height: 1.4375;
  -webkit-font-smoothing: antialiased; }
  @media (min-width: 750px) {
    p {
      font-size: 1.8rem;
      line-height: 1.85; } }

small {
  font-size: 1.2rem;
  line-height: 1.175; }
  @media (min-width: 750px) {
    small {
      font-size: 1.4rem;
      line-height: 1.225; } }

/* Icons SASS document */
[class^="icon-"],
[class*=" icon-"] {
  font-family: "icomoon";
  speak: none;
  font-size: 4.4rem;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-calendar:before {
  content: ""; }

.icon-clock:before {
  content: ""; }

.icon-close:before {
  content: ""; }

.icon-contacts:before {
  content: ""; }

.icon-down:before {
  content: ""; }

.icon-facebook:before {
  content: ""; }

.icon-film:before {
  content: ""; }

.icon-instagram:before {
  content: ""; }

.icon-left:before {
  content: ""; }

.icon-mail-subscribe:before {
  content: ""; }

.icon-mail:before {
  content: ""; }

.icon-menu:before {
  content: ""; }

.icon-play:before {
  content: ""; }

.icon-quote-left:before {
  content: ""; }

.icon-right:before {
  content: ""; }

.icon-search:before {
  content: ""; }

.icon-shortcuts:before {
  content: ""; }

.icon-sub-menu:before {
  content: ""; }

.icon-twitter-like:before {
  content: ""; }

.icon-twitter-reply:before {
  content: ""; }

.icon-twitter-retweet:before {
  content: ""; }

.icon-twitter:before {
  content: ""; }

.icon-up:before {
  content: ""; }

.icon-user:before {
  content: ""; }

.icon-whatsapp:before {
  content: ""; }

.icon-world:before {
  content: ""; }

/* Button social SASS document (social buttons) */
/* Variables SASS document */
.button-social {
  display: inline-block;
  box-sizing: border-box;
  width: 4.4rem;
  height: 4.4rem;
  border: solid 0.1rem;
  text-align: center; }
  .button-social span {
    font-size: 4rem; }
  @media (min-width: 1000px) {
    .button-social {
      transition: background 0.25s ease; } }

.button-social.small {
  width: 4rem;
  height: 4rem; }
  @media (min-width: 1000px) {
    .button-social.small {
      width: 3rem;
      height: 3rem; }
      .button-social.small span {
        font-size: 2.6rem; } }

.facebook {
  color: #385185;
  border-color: #385185; }
  .facebook:hover {
    background: #385185;
    color: white;
    border-color: #385185; }

.twitter {
  color: #55acee;
  border-color: #55acee; }
  .twitter:hover {
    background: #55acee;
    color: white;
    border-color: #55acee; }

.instagram {
  color: #2B5B83;
  border-color: #2B5B83; }
  .instagram:hover {
    background: #2B5B83;
    color: white;
    border-color: #2B5B83; }

.whatsapp {
  color: #3CDF57;
  border-color: #3CDF57; }
  .whatsapp:hover {
    background: #3CDF57;
    color: white;
    border-color: #3CDF57; }

.mail {
  color: #52D3C1;
  border-color: #52D3C1; }
  .mail:hover {
    background: #52D3C1;
    color: white;
    border-color: #52D3C1; }

.circle.facebook:hover {
  background: none;
  color: #385185;
  border-color: #385185; }

.circle.twitter:hover {
  background: none;
  color: #55acee;
  border-color: #55acee; }

.circle.instagram:hover {
  background: none;
  color: #2B5B83;
  border-color: #2B5B83; }

.circle.whatsapp:hover {
  background: none;
  color: #2B5B83;
  border-color: #2B5B83; }

.circle.mail:hover {
  background: none;
  color: #52D3C1;
  border-color: #52D3C1; }

.button-social.circle {
  color: #E4E4E4;
  border-color: #E4E4E4;
  border-radius: 50%; }

.button-social.tab {
  border-radius: 0.35rem 0.35rem 0 0;
  border-bottom: none; }

.button-social.tab-inverted {
  border-radius: 0 0 0.35rem 0.35rem;
  border-top: none; }

html, body {
  height: 100%;
  margin: 0;
  padding: 0; }

body {
  display: table;
  width: 100%;
  height: 100%; }

p {
  display: block;
  max-width: 364px;
  margin: 0 auto; }

a {
  margin-left: 5px;
  margin-right: 5px; }

img {
  display: block;
  margin: 0 auto; }

hr {
  margin-bottom: 60px;
  width: 80%;
  max-width: 940px; }

.container {
  display: table-cell;
  height: 100%;
  vertical-align: middle; }

.container > * {
  text-align: center; }

.error {
  margin-bottom: 110px; }
  @media (min-width: 1000px) {
    .error {
      margin-bottom: 220px; } }

.message {
  margin-bottom: 35px; }

.button-social.circle {
  color: #0943A5;
  border-color: #0943A5; }

/*# sourceMappingURL=error-pages.css.map */
