.main-news {
  margin: -8px 0px 0px -8px;
  width: 300px;
  height: 475px;
}

.header {
  font-size: 14px;
  font-family: Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  padding: 8px 0px 12px 0px;
  margin-bottom: 10px;
  border-width: 2px 0px 1px 0px;
  border-top-color: #000;
  border-bottom-color: #000;
  border-style: solid;
  width: 300px;
}

.text-overlay {
  width: 300px;
  height: 150px;
  background-image: linear-gradient(-180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: #FF0069;
  position: absolute;
  bottom: 0;
}

section.purple .header{
  border-top-color: #7a69e1;
  border-bottom-color: #7a69e1;
}

section.magenta .header{
  border-top-color: #ab218e;
  border-bottom-color: #ab218e;
}

section.purple .text-overlay{
  border-color: #7a69e1;
}

section.magenta .text-overlay{
  border-color: #ab218e;
}


.image {
  width: 300px;
  height: 150px; }

.text {
  position: relative; }

h1 {
  margin-top: 23px;
  margin-bottom: 11px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 22px; }

p {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 21px;
  padding-bottom: 15px; }

a {
  color: black;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

.secondary-news {
  padding-left: 15px;
  margin-top: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  background: url("../images/icons/bullet.png") no-repeat left top;
  background-position: 0px 4px;
  margin-bottom: 16px;
  line-height: 16px; }
  .secondary-news:hover {
    background: url("../images/icons/bullet_hover.png") no-repeat left top;
    background-position: 0px 4px; }
