@charset "UTF-8";
/* Style SASS document */
/* Font SASS Document */
@font-face {
  font-family: "Charis SIL Regular";
  src: url("../fonts/charis-sil/charis-sil.woff2") format("woff2"), url("../fonts/charis-sil/charis-sil.woff") format("woff"), url("../fonts/charis-sil/charis-sil.ttf") format("truetype"); }
@font-face {
  font-family: "Proxima Nova Light";
  src: url("../fonts/proxima-nova/proxima-nova-light.woff2") format("woff2"), url("../fonts/proxima-nova/proxima-nova-light.woff") format("woff"), url("../fonts/proxima-nova/proxima-nova-light.ttf") format("truetype"); }
@font-face {
  font-family: "Proxima Nova S Medium";
  src: url("../fonts/proxima-nova-s/proxima-nova-s-medium.woff2") format("woff2"), url("../fonts/proxima-nova-s/proxima-nova-s-medium.woff") format("woff"), url("../fonts/proxima-nova-s/proxima-nova-s-medium.ttf") format("truetype"); }
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon/icomoon.woff2") format("woff2"), url("../fonts/icomoon/icomoon.woff") format("woff"), url("../fonts/icomoon/icomoon.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
/* normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
 * ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
 * ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
 * ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
 * ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
 * ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
 * ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="date"] {
  -webkit-appearance: none;
  border: solid 1px; }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  padding: 0; }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
 * ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/** Skeleton V2.0.4
 ** Copyright 2014, Dave Gamache
 ** www.getskeleton.com
 ** Free to use under the MIT license.
 ** http://www.opensource.org/licenses/mit-license.php
 ** 12/9/2014
 ** Sass Version by Seth Coelen https://github.com/whatsnewsaes */
/* Skeleton | Variables SASS document */
/* Skeleton | Grid SASS document */
/* Skeleton | Variables SASS document */
.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.column,
.columns {
  width: 100%;
  float: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0; } }
@media (min-width: 550px) {
  .container {
    width: 80%; }

  .column,
  .columns {
    margin-left: 4%; }

  .column:first-child,
  .columns:first-child {
    margin-left: 0; }

  .one.column,
  .one.columns {
    width: 4.66667%; }

  .two.columns {
    width: 13.33333%; }

  .three.columns {
    width: 22%; }

  .four.columns {
    width: 30.66667%; }

  .five.columns {
    width: 39.33333%; }

  .six.columns {
    width: 48%; }

  .seven.columns {
    width: 56.66667%; }

  .eight.columns {
    width: 65.33333%; }

  .nine.columns {
    width: 74%; }

  .ten.columns {
    width: 82.66667%; }

  .eleven.columns {
    width: 91.33333%; }

  .twelve.columns {
    width: 100%;
    margin-left: 0; }

  .one-third.column {
    width: 30.66667%; }

  .two-thirds.column {
    width: 65.33333%; }

  .one-half.column {
    width: 48%; }

  .offset-by-one.column,
  .offset-by-one.columns {
    margin-left: 8.66667%; }

  .offset-by-two.column,
  .offset-by-two.columns {
    margin-left: 17.33333%; }

  .offset-by-three.column,
  .offset-by-three.columns {
    margin-left: 26%; }

  .offset-by-four.column,
  .offset-by-four.columns {
    margin-left: 34.66667%; }

  .offset-by-five.column,
  .offset-by-five.columns {
    margin-left: 43.33333%; }

  .offset-by-six.column,
  .offset-by-six.columns {
    margin-left: 52%; }

  .offset-by-seven.column,
  .offset-by-seven.columns {
    margin-left: 60.66667%; }

  .offset-by-eight.column,
  .offset-by-eight.columns {
    margin-left: 69.33333%; }

  .offset-by-nine.column,
  .offset-by-nine.columns {
    margin-left: 78%; }

  .offset-by-ten.column,
  .offset-by-ten.columns {
    margin-left: 86.66667%; }

  .offset-by-eleven.column,
  .offset-by-eleven.columns {
    margin-left: 95.33333%; }

  .offset-by-one-third.column,
  .offset-by-one-third.columns {
    margin-left: 34.66667%; }

  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns {
    margin-left: 69.33333%; }

  .offset-by-one-half.column,
  .offset-by-one-half.column {
    margin-left: 52%; }

  .offset-by-two-and-a-half.column,
  .offset-by-two-and-a-half.columns {
    margin-left: 21.66667%; } }
/* Skeleton | Base styles SASS document */
/* Skeleton | Variables SASS document */
html {
  font-size: 62.5%; }

body {
  font-size: 1.5em;
  line-height: 1.6;
  font-weight: 400;
  font-family: "Raleway Regular", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222222; }

/* Skeleton | Typography SASS document */
/* Skeleton | Variables SASS document */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300; }

h1 {
  font-size: 4rem;
  line-height: 1.2; }

h2 {
  font-size: 3.6rem;
  line-height: 1.25; }

h3 {
  font-size: 3rem;
  line-height: 1.3; }

h4 {
  font-size: 2.4rem;
  line-height: 1.35; }

h5 {
  font-size: 1.8rem;
  line-height: 1.5; }

h6 {
  font-size: 1.5rem;
  line-height: 1.6; }

@media (min-width: 550px) {
  h1 {
    font-size: 5rem; }

  h2 {
    font-size: 4.2rem; }

  h3 {
    font-size: 3.6rem; }

  h4 {
    font-size: 3rem; }

  h5 {
    font-size: 2.4rem; }

  h6 {
    font-size: 1.5rem; } }
p {
  margin-top: 0; }

/* Skeleton | Links SASS document */
/* Skeleton | Variables SASS document */
a {
  color: #3D84DD;
  text-decoration: none; }
  a:hover {
    color: #2776d9; }

/* Skeleton | Buttons SASS document */
/* Skeleton | Variables SASS document */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  min-height: 38px;
  padding: 0 30px;
  color: #555555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbbbbb;
  cursor: pointer;
  box-sizing: border-box; }

.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
  color: #333333;
  border-color: #888888;
  outline: 0; }

.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #333333;
  border-color: #888888;
  outline: 0; }

.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #fff;
  background-color: #0943A5;
  border-color: #0943A5; }

.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover {
  color: #fff;
  background-color: #073685;
  border-color: #073685; }

.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #fff;
  background-color: #3D84DD;
  border-color: #3D84DD; }

input[type="email"], input[type="number"], input[type="search"], input[type="text"], input[type="tel"], input[type="url"], input[type="password"] {
  height: 38px;
  padding: 6px 10px;
  background-color: #fff;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box; }

/* Skeleton | Forms SASS document */
/* Skeleton | Variables SASS document */
textarea,
select {
  height: 38px;
  padding: 6px 10px;
  background-color: white;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box; }

input[type="date"], input[type="email"], input[type="number"], input[type="search"], input[type="text"], input[type="tel"], input[type="url"], input[type="password"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px; }

input[type="date"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="text"]:focus, input[type="tel"]:focus, input[type="url"]:focus, input[type="password"]:focus {
  border: 1px solid #0943A5;
  outline: 0; }

textarea:focus,
select:focus {
  border: 1px solid #0943A5;
  outline: 0; }

label,
legend {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 600; }

fieldset {
  padding: 0;
  border-width: 0; }

input[type="checkbox"], input[type="radio"] {
  display: inline; }

label > .label-body {
  display: inline-block;
  margin-left: 0.5rem;
  font-weight: normal; }

/* Skeleton | List SASS document */
ul {
  list-style: circle inside; }

ol {
  list-style: decimal inside;
  padding-left: 0;
  margin-top: 0; }

ul {
  padding-left: 0;
  margin-top: 0; }
  ul ul, ul ol {
    margin: 1.5rem 0 1.5rem 3rem;
    font-size: 90%; }

ol ol, ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%; }

li {
  margin-bottom: 1rem; }

/* Skeleton | Tables SASS document */
/* Skeleton | Variables SASS document */
th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #e1e1e1; }

th:first-child,
td:first-child {
  padding-left: 0; }

th:last-child,
td:last-child {
  padding-right: 0; }

/* Skeleton | Spacing SASS document */
button,
.button {
  margin-bottom: 1rem; }

input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem; }

pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: 2.5rem; }

/* Skeleton | Spacing SASS document */
/* Skeleton | Variables SASS document */
hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #e1e1e1; }

/* Skeleton | Utilities SASS document */
.u-full-width {
  width: 100%;
  box-sizing: border-box; }

.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; }

.u-pull-right {
  float: right; }

.u-pull-left {
  float: left; }

/* Skeleton | Clearing SASS document */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }

/* Layout SASS document */
/* Variables SASS document */
body {
  color: #333333;
  font-family: "Proxima Nova Light", "Helvetica Neue Light", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased; }

img {
  max-width: 100%;
  height: auto; }

.article-header,
.date-search,
.footer,
.latest-tweets,
.on-screen,
.other-news,
.other-news-mini,
.streamfields,
.subscribe,
.video-gallery {
  box-sizing: border-box;
  padding-top: 50px;
  padding-bottom: 30px; }
  @media (min-width: 1000px) {
    .article-header,
    .date-search,
    .footer,
    .latest-tweets,
    .on-screen,
    .other-news,
    .other-news-mini,
    .streamfields,
    .subscribe,
    .video-gallery {
      padding-top: 60px;
      padding-bottom: 40px; } }

/* Icons SASS document */
[class^="icon-"],
[class*=" icon-"] {
  font-family: "icomoon";
  speak: none;
  font-size: 4.4rem;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-calendar:before {
  content: ""; }

.icon-clock:before {
  content: ""; }

.icon-close:before {
  content: ""; }

.icon-contacts:before {
  content: ""; }

.icon-down:before {
  content: ""; }

.icon-facebook:before {
  content: ""; }

.icon-film:before {
  content: ""; }

.icon-instagram:before {
  content: ""; }

.icon-left:before {
  content: ""; }

.icon-mail-subscribe:before {
  content: ""; }

.icon-mail:before {
  content: ""; }

.icon-menu:before {
  content: ""; }

.icon-play:before {
  content: ""; }

.icon-quote-left:before {
  content: ""; }

.icon-right:before {
  content: ""; }

.icon-search:before {
  content: ""; }

.icon-shortcuts:before {
  content: ""; }

.icon-sub-menu:before {
  content: ""; }

.icon-twitter-like:before {
  content: ""; }

.icon-twitter-reply:before {
  content: ""; }

.icon-twitter-retweet:before {
  content: ""; }

.icon-twitter:before {
  content: ""; }

.icon-up:before {
  content: ""; }

.icon-user:before {
  content: ""; }

.icon-whatsapp:before {
  content: ""; }

.icon-world:before {
  content: ""; }

/* Site layout headings SASS document */
/* Variables SASS document */
.headings {
  font-family: "Proxima Nova S Medium", serif, serif;
  color: #3D84DD; }
  .headings a {
    color: #3D84DD; }

h1.headings {
  height: 6rem;
  margin-bottom: 0;
  background: #F5F5F5;
  color: #3D84DD;
  text-align: center;
  line-height: 6rem;
  border-bottom: solid 1px #9B9B9B;
  font-size: 2.6rem; }
  @media (min-width: 1000px) {
    h1.headings {
      font-size: 2.4rem; } }

h2.headings {
  margin-bottom: 1.7rem;
  color: #0943A5;
  font-size: 2.6rem;
  line-height: 1.125; }
  @media (min-width: 1000px) {
    h2.headings {
      margin-bottom: 2rem;
      font-size: 2.4rem;
      line-height: 1.2125; } }

h3.headings {
  margin-bottom: 1rem;
  font-size: 1.8rem;
  line-height: 1.05; }
  @media (min-width: 1000px) {
    h3.headings {
      font-size: 1.8rem;
      line-height: 1.22; } }

/* Headings SASS document */
/* Variables SASS document */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Charis SIL Regular", Georgia, "Times New Roman", Times, serif, serif; }
  h1 a,
  h2 a,
  h3 a,
  h4 a,
  h5 a,
  h6 a {
    color: #333333; }

h1 {
  font-size: 3.2rem;
  line-height: 1.125; }
  @media (min-width: 1000px) {
    h1 {
      font-size: 4.8rem;
      line-height: 1.125; } }

h2 {
  margin-bottom: 20px;
  font-size: 2.6rem;
  line-height: 1.25; }
  @media (min-width: 1000px) {
    h2 {
      font-size: 3rem;
      line-height: 1.3; } }

h3 {
  font-size: 2.2rem;
  line-height: 1.625; }
  @media (min-width: 1000px) {
    h3 {
      font-size: 2.4rem;
      line-height: 1.25; } }

h4 {
  font-size: 2rem;
  line-height: 1.4; }
  @media (min-width: 1000px) {
    h4 {
      font-size: 2rem;
      line-height: 1.35; } }

p {
  margin-bottom: 30px;
  font-family: "Proxima Nova Light", "Helvetica Neue Light", Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  line-height: 1.4375;
  -webkit-font-smoothing: antialiased; }
  @media (min-width: 750px) {
    p {
      font-size: 1.8rem;
      line-height: 1.85; } }

small {
  font-size: 1.2rem;
  line-height: 1.175; }
  @media (min-width: 750px) {
    small {
      font-size: 1.4rem;
      line-height: 1.225; } }

/* Subscribe form SASS document */
/* Variables SASS document */
.form {
  margin-bottom: 0; }
  .form input[type="date"],
  .form input[type="email"],
  .form button {
    height: 60px;
    font-family: "Proxima Nova Light", "Helvetica Neue Light", Helvetica, Arial, sans-serif;
    font-size: 1.4rem;
    line-height: 1.7rem;
    font-weight: 100;
    border-color: #E4E4E4; }
  .form input[type="date"],
  .form input[type="email"] {
    display: inline-block;
    width: 75%;
    border-radius: 2px 0 0 2px; }
  .form button {
    display: inline-block;
    width: 20%;
    margin-top: 1px;
    margin-left: -4px;
    margin-bottom: 0;
    padding: 0;
    background: #0943A5;
    border: #062f75;
    border-radius: 0 2px 2px 0;
    color: white;
    text-transform: uppercase; }
    .form button [class^="icon-"], .form button [class*=" icon-"] {
      font-size: 4.4rem;
      line-height: 0;
      color: white; }
    .form button .text {
      display: none; }
  .form button:hover {
    background: #062f75; }
  @media (min-width: 550px) {
    .form input[type="date"],
    .form input[type="email"] {
      width: 60%; }
    .form button [class^="icon-"], .form button [class*=" icon-"] {
      display: none; }
    .form button .text {
      display: inline; } }
  @media (min-width: 1000px) {
    .form input[type="date"],
    .form input[type="email"] {
      width: 500px; }
    .form button {
      width: 160px; } }

h1.headings {
  background: none;
  border: none;
  color: #0943A5; }

.form {
  margin: 20px auto;
  text-align: center; }
  .form input[type="date"],
  .form button {
    height: 40px; }
  .form input[type="date"] {
    width: 250px; }
  .form button {
    width: 100px; }

/*# sourceMappingURL=publications.css.map */
