  {% load static from staticfiles %}
{% load custom_tags wagtailimages_tags %}

<button class="video-thumb" data-src="{{ dailymotion_path }}{{ article.video|get_code_format_video }}" data-attr="{{ article.id }}">
    <span class="image-container">
        {% image article.photo fill-80x120 as tmp_photo %}
        <img class="icon" src="{% static 'images/defer.png' %}" data-src="{% static 'images/icons/play-mini.png' %}" alt="Ícono de play">
        <img class="image" src="{% static 'images/defer.png' %}" data-src="{{ tmp_photo.url }}" alt="{{ article.titulo }}" >
    </span>
    <span class="label">{{ article.titulo }}</span>
    <span hidden class="date-metadata">{{ article.first_published_at|time_filter_custom }}</span>

    {% with utm="home-on-screen" FB_SHARE="https://www.facebook.com/sharer/sharer.php?u=" TW_SHARE="https://twitter.com/intent/tweet?url=" WP_SHARE="whatsapp://send?text=" MAIL="mailto:?&subject=Comparto esta noticia&body=Hola%20te%20comparto%20esta%20noticia%20de%20El%20Noticiero:%20" %}
        <span hidden class="share fb">{{ FB_SHARE }}{% pageurl_encode article %}&text={{ article.titulo|encode_text }}{% analitycs_custom 1 utm %}</span>
        <span hidden class="share tw">{{ TW_SHARE }}{% pageurl_encode article %}&text={{ article.titulo|encode_text }}%26hashtags%3Delnoticiero{% analitycs_custom 2 utm %}</span>
        <span hidden class="share waspp">{{ WP_SHARE }}{% pageurl_encode article %}{% analitycs_custom 3 utm %}</span>
        <span hidden class="share msm">{{ MAIL }}{{ article.titulo|encode_text }}%20{% pageurl_encode article %}{% analitycs_custom 4 utm %}</span>
    {% endwith %}

</button>