<section class="subscribe" style="margin-bottom: 50px; padding-top: 10px !important; background: #FFFFFF !important; ">
    <div class="container">
        <h3 class="title-content-subscribe"></h3>
        <!-- MailChimp Signup Form -->
        <form class="form validate" style="margin-top: 30px;" action="//tctelevision.us11.list-manage.com/subscribe/post?u=6a74b0a75ba4ac481aed72690&amp;id=1275b1825c"
              method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate>
            <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Escribe tu correo">
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <input type="text" name="b_6a74b0a75ba4ac481aed72690_1275b1825c" tabindex="-1" value="" style="position: absolute; left: -5000px;">
            <button id="mc-embedded-subscribe">
                <span class="icon-mail"><!-- icon --></span>
                <span class="text">Enviar</span>
            </button>
        </form>
    </div>
</section>
