{% load tags_home cache compress static custom_tags %}

<footer class="footer ">
    <div class="container">
        <div class="row">
            <div class="four columns">
                <a class="logo-tc" href="//www.tctelevision.com">
                    <img src="{% static 'images/defer.png' %}" data-src="{% static 'images/logo-tc.png' %}" width="112" height="106" alt="TC mi canal">
                </a>
                <hr id="footer-hr-1">
            </div>
            <article class="four columns">
                <span class="icon-contacts"><!-- icon --></span>
                <h3 class="headings">Contacto</h3>
                <ul>
                    <li><a href="tel:+593946003030">+593 94 6003030</a></li>
                    <li><a href="mailto:info@elnoticiero.com.ec">info@elnoticiero.com.ec</a></li>
                </ul>
                <hr id="footer-hr-2">
            </article>
            <article class="four columns">
                <span class="icon-shortcuts"><!-- icon --></span>
                <h3 class="headings">Accesos directos</h3>
                <ul>
                    <li><a href="{% pageurl_slug 'videoteca' %}">Videoteca</a></li>
                    <li><a href="{% url "suscribe" %}">Suscríbete</a></li>
                </ul>
            </article>
        </div>
        <hr id="footer-hr-3">
        <div class="row">
            <div class="twelve columns social-media">
                <a class="button-social circle facebook" href="https://www.facebook.com/elnoticierotc/">
                    <span class="icon-facebook"><!-- icon --></span>
                </a>
                <a class="button-social circle twitter" href="https://twitter.com/elnoticierotc/">
                    <span class="icon-twitter"><!-- icon --></span>
                </a>
                <a class="button-social circle instagram" href="https://instagram.com/elnoticierotc/">
                    <span class="icon-instagram"><!-- icon --></span>
                </a>
            </div>
        </div>
        <hr id="footer-hr-4">
        <div class="row">
            <small class="twelve columns">© Copyright 2016 por TC Televisión. Todos los derechos reservados.</small>
        </div>
    </div>
</footer>