
{% load twitter_tag cache custom_tags %}
{% get_tweets for "elnoticierotc" as tweets exclude "replies, retweets" limit 5 %}

<!--Latest tweets-->
<section id="latest-tweets" class="latest-tweets">
    <div class="container">
        <a class="button-social circle twitter" href="https://twitter.com/intent/user?screen_name=elnoticierotc">
            <span class="icon-twitter"><!-- icon --></span>
        </a>

        <div id="tweets-container">
            <div class="meta-data">
                <time datetime="{{ tweets.0.datetime|time_filter_custom }}">
                    <span class="icon-clock"><!-- icon --></span>
                    <span id="tweet-date" class="label">{{ tweets.0.datetime|time_filter_custom }}</span>
                </time>
            </div>
            <ul>
                {% for tweet in tweets %}
                    <li hidden data-src="{{ tweet.id_str }}" data-date="{{ tweet.datetime|time_filter_custom }}" data-favorited="{{ tweet.favorited }}" data-retweeted="{{ tweet.retweeted }}">
                        {{ tweet.html|safe }}
                    </li>
                {% endfor %}
             </ul>
            <a href="https://twitter.com/intent/like?tweet_id=463440424141459456" class="author" target="_blank">@elnoticierotc</a>

            <div id="web-intents">
                <a class="share reply" href="https://twitter.com/intent/tweet?in_reply_to={{ tweets.0.id_str }}" target="_blank">
                    <span class="icon-twitter-reply"><!-- icon goes here --></span>
                </a>
                <a class="share retweet" href="https://twitter.com/intent/retweet?tweet_id={{ tweets.0.id_str }}" target="_blank">
                    <span class="icon-twitter-retweet"><!-- icon goes here --></span>
                </a>
                <a class="share like" href="https://twitter.com/intent/like?tweet_id={{ tweets.0.id_str }}" target="_blank">
                    <span class="icon-twitter-like"><!-- icon goes here --></span>
                </a>
            </div>
        </div>

        <ul hidden class="select-buttons">
            <li><button class="active">•</button></li>
            <li><button>•</button></li>
            <li><button>•</button></li>
            <li><button>•</button></li>
            <li><button>•</button></li>
        </ul>

    </div>

</section>