{% load wagtailcore_tags %}

<div class="header">
    <div class="container">
        <div class="row location-row">
            <a id="national" class="{% if location == 1 %}active{% endif %}" href="{% if page.depth != 5 %}?localizacion=1{% endif %}" onclick="{% if page.depth != 5 %}locationPages(this){% endif %}">Nacional</a>
            <a id="world" class="{% if page.depth != 5 %}active{% endif %}"  href="{% pageurl page %}"><span class="icon-world"><!-- icon goes here --></span></a>
            <a id="international" class="{% if location == 2 %}active{% endif %}" href="{% if page.depth != 5 %}?localizacion=2{% endif %}" onclick="{% if page.depth != 5 %}locationPages(this){% endif %}">Internacional</a>
        </div>
    </div>
</div>