{% load custom_tags wagtailcore_tags %}

<div class="social-media {{ parent_class }}">

{% with FB_SHARE="https://www.facebook.com/sharer/sharer.php?u="  TW_SHARE="https://twitter.com/intent/tweet?url=" WP_SHARE="whatsapp://send?text=" MAIL_SHARE="mailto:?&subject=Comparto%20esta%20noticia&body=Hola%20te%20comparto%20esta%20noticia%20de%20El%20Noticiero:%20" %}

    <a class="share button-social {{ class }} facebook" href="{{ FB_SHARE }}{% pageurl_encode article %}&text={{ article.titulo|urlencode }}{% analitycs_custom 1 utm %}">
        <span class="icon icon-facebook"><!-- icon --></span>
    </a>
    <a class="share button-social {{ class }} twitter" href="{{ TW_SHARE }}{{ article.titulo|urlencode }}{% analitycs_custom 2 utm %}&text={{ article.titulo|urlencode }}%26hashtags%3Delnoticiero">
        <span class="icon icon-twitter"><!-- icon --></span>
    </a>
    <a class="share button-social {{ class }} whatsapp" href="{{ WP_SHARE }}{% pageurl_encode article %}{% analitycs_custom 3 utm %}">
        <span class="icon icon icon-whatsapp"><!-- icon --></span>
    </a>
    <a class="share button-social {{ class }} mail" href="{{ MAIL_SHARE }}{{ article.titulo|urlencode }}{% pageurl_encode article %}{% analitycs_custom 4 utm %}">
        <span class="icon icon icon-mail"><!-- icon --></span>
    </a>

{% endwith %}

</div>