{% load static from staticfiles %}
{% load wagtailimages_tags%}

<section class="cover-picture">
    <div class="panorama">
        {% image self.photo fill-1920x650 as tmp_photo_more_than_1920 %}
        {% image self.photo fill-1440x590 as tmp_photo_more_than_1440 %}
        {% image self.photo fill-1366x490 as tmp_photo %}
        {% image self.photo fill-750x390 as tmp_photo_tablet %}
        {% image self.photo fill-400x290 as tmp_photo_phablet %}
        {% image self.photo fill-320x240 as tmp_photo_mobile %}

        <picture>
            <source media="(min-width: 1920px)" srcset="{{ tmp_photo_more_than_1920.url }}">
            <source media="(min-width: 1440px)" srcset="{{ tmp_photo_more_than_1440.url }}">
            <source media="(min-width: 1000px)" srcset="{{ tmp_photo.url }}">
            <source media="(min-width: 750px)" srcset="{{ tmp_photo_tablet.url }}">
            <source media="(min-width: 400px)" srcset="{{ tmp_photo_phablet.url }}">
            <source srcset="{{ tmp_photo_phablet.url }}">
            <img src="{{ tmp_photo.url }}" alt="Foto.">
        </picture>
    </div>
</section>