{% load wagtailcore_tags wagtailimages_tags custom_tags %}

<!-- Streamfield Article Web -->
<section id="content" class="streamfields">
    {% for block in self.contenido %}
        {% if block.block_type == 'subtitle' %}
            {% include 'core/includes/news-articles/block-streamfields/subtitle.html' %}
        {% elif block.block_type == 'paragraph' %}
            <div class="paragraph">
                {{ block.value|richtext }}
            </div>
        {% elif block.block_type == 'blockquote' %}
            {% include 'core/includes/news-articles/block-streamfields/blockquote.html' %}
        {% elif block.block_type == 'phrase' %}
            {% include 'core/includes/news-articles/block-streamfields/phrase.html' %}
        {% elif block.block_type == 'panorama' %}
            {% include 'core/includes/news-articles/block-streamfields/panorama.html' %}
        {% elif block.block_type == 'image' %}
            {% include 'core/includes/news-articles/block-streamfields/image.html' %}
        {% elif block.block_type == 'video2' %}
            {% include 'core/includes/news-articles/block-streamfields/video.html' %}
        {% elif block.block_type == 'htmlembed' %}
            {% include 'core/includes/news-articles/block-streamfields/htmlembed.html' %}
        {% endif %}
    {% endfor %}

    <!-- Mini Subscribe -->
</section>

