{% load custom_tags static %}

<section class="article-header">
    <div class="container">
        <header>
            <h3 class="headings">
                <a href="{% pageurl_custom self.categoria %}">
                    {% if self.categoria %}{{ self.categoria }}{% else %} Categoría {% endif %}
                </a>
            </h3>
            <h1>{{ self.titulo }}</h1>
        </header>
        <hr>
        <footer>
            {% include 'core/includes/base/social-media.html' with article=self class="tab-inverted" utm="article-top" only %}
            <div class="meta-data">
                <span hidden class="author">{{ self.owner.first_name }} {{ self.owner.last_name }}</span>
                <time datetime="{{ self.first_published_at|date:"Y-m-d" }}">
                    <span class="icon-clock"><!-- icon --></span>
                    {{ self.first_published_at|date:"F d, Y" }}
                </time>
            </div>
        </footer>
    </div>
</section>