{% extends "base-admin.html" %}
{% load wagtailimages_tags custom_tags %}
{% block title %}El Noticiero | Eventos {% endblock %}
{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{% if message.tags %}{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}  alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <div class="media">
                    <figure class="pull-left alert--icon">
                        {% if message.tags %}
                            {% if message.tags == "error" %}
                                <i class="pe-7s-close-circle"></i>
                            {% else %}
                                <i class="pe-7s-info"></i>
                            {% endif %}
                        {% endif %}
                    </figure>
                    <div class="media-body">
                        <p class="alert--text">{{ message }}.</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}

    <header>
        <h1 class="headings">Buscador de publicaciones</h1>
    </header>

    <section class="container">
        <form action="{% url 'administracion:eventos_paginas' %}" class="form" id="formulario" method="GET">
            <!--<input type="date"  id="input-date" placeholder="Seleccione el día" value="{{ request.GET.fecha }}" name="fecha">-->
            <table>
                <tr>
                    <td>
                        <label>Rango de Fechas:</label>
                    </td>
                    <td>
                        {% if buscador.fecha_ini.errors %}
                            {{ buscador.fecha_ini }}
                        {% else %}
                            {{ buscador.fecha_ini }}
                        {% endif %}
                    </td>
                    <td>
                        <label>Hasta</label>
                    </td>
                    <td>
                        {% if buscador.fecha_final.errors %}
                            {{ buscador.fecha_final}}
                        {% else %}
                            {{ buscador.fecha_final}}
                        {% endif %}
                    </td>
                    <td>
                        <button>
                            <span class="icon-search"></span>
                            <span id="buscar" class="text">Buscar</span>
                        </button>
                    </td>
                </tr>
            </table>

            <div>
                <h3 class="headings">Artículos desde: {{ buscador.fecha_ini.value }} hasta: {{ buscador.fecha_final.value }}</h3>
                <table id="table-info-registro" class="table tabla tabla-comprobante table-striped" cellpadding="0" cellspacing="0">
                    <tr>
                        <th>ID</th>
                        <th>Título</th>
                        <th>Fecha</th>
                        <th>Evento</th>
                    </tr>
                    {% for obj in objetos %}
                        <tr>
                            <td hidden>{{ obj.id }}</td>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ obj.title }}</td>
                            <td>{{ obj.first_published_at|date:'d F Y, H:i'}}</td>
                            <td style="text-align: center;">
                                {% if obj.evento %}
                                    Seleccionado
                                {% else %}
                                    <input type="checkbox" name="evento-{{ forloop.counter }}"/>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor%}
                </table>
                <input class="boton boton-ok" id="grabar" type="submit" data-action="" value="Grabar">
            </div>
        </form>

    </section>

    {%  if parametro %}
        <h3 style="text-align: center"> Error al enviar el parámetro de búsqueda, por favor verifique
            si el formato de fecha es correcto.</h3>
    {% else %}
        {% if flag %}
            <h3 style="text-align: center"> La consulta no generó resultados.</h3>
        {% else %}
            {% if validator %}
                {% if articles_web %}
                    <div class="container">
                        <h2 class="headings">{{ resultado }} Resultados</h2>
                        <h3 class="headings">Artículos nativos</h3>
                        <table class="u-full-width">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Foto</th>
                                    <th>Titular</th>
                                    <th>Categoría</th>
                                    <th>Autor</th>
                                    <th>Hora</th>
                                    <th>Foto</th>
                                    <th>Foto</th>
                                </tr>
                            </thead>
                            <tbody>
                                    {% for obj in articles_web %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>
                                            <a href="{{ obj.full_url }}" target="_blank">
                                                {% image obj.photo fill-120x80 %}
                                            </a> 
                                        </td>
                                        <td><a href="{{ obj.full_url }}" target="_blank">{{ obj.title }}</a></td>
                                        <td>{{ obj.categoria }}</td>
                                        <td>{{ obj.owner.username }}</td>
                                        <td>{{ obj.first_published_at|date:'H:i'}}</td>
                                        <td><a href="http://{{ request.get_host }}/{{ obj.photo_fb_share }}" target="_blank"><span class="icon-facebook"><!-- icon goes here--></span></a></td>
                                        <td><a href="http://{{ request.get_host }}/{{ obj.photo_tw_share }}" target="_blank"><span class="icon-twitter"><!-- icon goes here--></span></a></td>
                                    {% endfor%}
                                    </tr>
                              </tbody>
                        </table>
                    </div>
                {% else %}
                    <h3 style="text-align: center"> La consulta no generó publicaciones de artículos web.</h3>
                {% endif %}

                {% if articles_tv %}
                    <div class="container">
                        <h3 class="headings">Artículos pantalla 1</h3>
                        <table class="u-full-width">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Foto</th>
                                    <th>Titular</th>
                                    <th>Categoría</th>
                                    <th>Autor</th>
                                    <th>Hora</th>
                                    <th>Foto</th>
                                    <th>Foto</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for obj in articles_tv %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>
                                        <a href="{{ obj.full_url }}" target="_blank">
                                            {% image obj.photo fill-120x80 %}
                                        </a> 
                                    </td>
                                    <td><a href="{{ obj.full_url }}" target="_blank">{{ obj.title }}</a></td>
                                    <td>{{ obj.categoria }}</td>
                                    <td>{{ obj.owner.username }}</td>
                                    <td>{{ obj.first_published_at|date:'H:i'}}</td>
                                    <td><a href="http://{{ request.get_host }}/{{ obj.photo_fb_share }}" target="_blank"><span class="icon-facebook"><!-- icon goes here--></span></a></td>
                                    <td><a href="http://{{ request.get_host }}/{{ obj.photo_tw_share }}" target="_blank"><span class="icon-twitter"><!-- icon goes here--></span></a></td>
                                {% endfor%}
                                </tr>
                            </tbody>
                        </table>
                    </div>
                {% else %}
                    <h3 style="text-align: center">La consulta no generó publicaciones de artículos tv.</h3>
                {% endif %}
            {% endif %}
        {% endif %}
    {% endif %}

{% endblock %}

{% block extra_js %}
    <script type="application/javascript">
        var formulario = document.getElementById('formulario');
        var input_ini = document.getElementById('id_fecha_ini');
        var input_fin = document.getElementById('id_fecha_fin');

        var dateFormat = 'YYYY-MM-DD';
        if (!Modernizr.inputtypes.date) {
            var picker = new Pikaday(
            {
                field: input_ini,
                format: dateFormat,
                firstDay: 1,
                maxDate: moment().toDate()
            });
        }

        document.getElementById("grabar").addEventListener("click", handler);

        // handler function
        function handler(e) {
            formulario.setAttribute("method", "POST");
        }

    </script>
{% endblock %}



