{% extends "base-admin.html" %}
{% load wagtailimages_tags custom_tags %}
{% block title %}El Noticiero | Publicaciones {% endblock %}
{% block content %}
    <header>
        <h1 class="headings">Buscador de publicaciones</h1>
    </header>
    <section class="container">
        <form class="form" method="GET">
            <input type="date"  id="input-date" placeholder="Seleccione el día" value="{{ request.GET.fecha }}" name="fecha">
            <button>
                <span class="icon-search"></span>
                <span class="text">Buscar</span>
            </button>
        </form>
    </section>

    {%  if parametro %}
        <h3 style="text-align: center"> Error al enviar el parámetro de búsqueda, por favor verifique
            si el formato de fecha es correcto.</h3>
    {% else %}
        {% if flag %}
            <h3 style="text-align: center"> La consulta no generó resultados.</h3>
        {% else %}
            {% if validator %}
                {% if articles_web %}
                    <div class="container">
                        <h2 class="headings">{{ resultado }} Resultados</h2>
                        <h3 class="headings">Artículos nativos</h3>
                        <table class="u-full-width">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Foto</th>
                                    <th>Titular</th>
                                    <th>Categoría</th>
                                    <th>Autor</th>
                                    <th>Hora</th>
                                    <th>Foto</th>
                                    <th>Foto</th>
                                </tr>
                            </thead>
                            <tbody>
                                    {% for obj in articles_web %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>
                                            <a href="{{ obj.full_url }}" target="_blank">
                                                {% image obj.photo fill-120x80 %}
                                            </a> 
                                        </td>
                                        <td><a href="{{ obj.full_url }}" target="_blank">{{ obj.title }}</a></td>
                                        <td>{{ obj.categoria }}</td>
                                        <td>{{ obj.owner.first_name }}</td>
                                        <td>{{ obj.first_published_at|date:'H:i'}}</td>
                                        <td><a href="http://{{ request.get_host }}/{{ obj.photo_fb_share }}" target="_blank"><span class="icon-facebook"><!-- icon goes here--></span></a></td>
                                        <td><a href="http://{{ request.get_host }}/{{ obj.photo_tw_share }}" target="_blank"><span class="icon-twitter"><!-- icon goes here--></span></a></td>
                                    {% endfor%}
                                    </tr>
                              </tbody>
                        </table>
                    </div>
                {% else %}
                    <h3 style="text-align: center"> La consulta no generó publicaciones de artículos web.</h3>
                {% endif %}

                {% if articles_tv %}
                    <div class="container">
                        <h3 class="headings">Artículos pantalla 1</h3>
                        <table class="u-full-width">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Foto</th>
                                    <th>Titular</th>
                                    <th>Categoría</th>
                                    <th>Autor</th>
                                    <th>Hora</th>
                                    <th>Foto</th>
                                    <th>Foto</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for obj in articles_tv %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>
                                        <a href="{{ obj.full_url }}" target="_blank">
                                            {% image obj.photo fill-120x80 %}
                                        </a> 
                                    </td>
                                    <td><a href="{{ obj.full_url }}" target="_blank">{{ obj.title }}</a></td>
                                    <td>{{ obj.categoria }}</td>
                                    <td>{{ obj.owner.first_name }}</td>
                                    <td>{{ obj.first_published_at|date:'H:i'}}</td>
                                    <td><a href="http://{{ request.get_host }}/{{ obj.photo_fb_share }}" target="_blank"><span class="icon-facebook"><!-- icon goes here--></span></a></td>
                                    <td><a href="http://{{ request.get_host }}/{{ obj.photo_tw_share }}" target="_blank"><span class="icon-twitter"><!-- icon goes here--></span></a></td>
                                {% endfor%}
                                </tr>
                            </tbody>
                        </table>
                    </div>
                {% else %}
                    <h3 style="text-align: center">La consulta no generó publicaciones de artículos tv.</h3>
                {% endif %}
            {% endif %}
        {% endif %}
    {% endif %}

{% endblock %}

{% block extra_js %}
    <script>
        var input = document.getElementById('input-date');
        var dateFormat = 'YYYY-MM-DD';
        if (!Modernizr.inputtypes.date) {
            var picker = new Pikaday(
            {
                field: input,
                format: dateFormat,
                firstDay: 1,
                maxDate: moment().toDate()
            });
        }
        input.setAttribute("value", moment().format(dateFormat));
    </script>
{% endblock %}