{% load static from staticfiles %}
{% load custom_tags wagtailcore_tags wagtailimages_tags %}

<section class="main-news-7">
    <div class="grid">
        {% for article in articles|slice:"0:7" %}
            {% image article.photo fill-640x360 as tmp_photo %}
            <article class="news-block background-image" data-src="{{ tmp_photo.url }}" style="background: url('{% static 'images/defer.png' %}') no-repeat center center;">
                <a href="{% pageurl_custom article %}">
                    <h3 class="title">{{ article.title|smart_truncate_chars:80 }}</h3>
                    <p hidden class="author">Por {{ article.owner.first_name }} {{ article.owner.last_name }}</p>
                    <img src="{% static 'images/defer.png' %}"
                         data-src="{{ tmp_photo.url }}" alt="{{ article.titulo }}" />
                </a>
            </article>
        {% endfor %}
    </div>
    <div hidden class="scroll">
        {% for article in articles|slice:"3:7" %}
            {% image article.photo fill-320x180 as tmp_photo %}
            <article class="news-block background-image" data-src="{{ tmp_photo.url }}" style="background: url('{% static 'images/defer.png' %}') no-repeat center center;">
                <a href="{% pageurl_custom article %}">
                    <h2 class="title">{{ article.title|smart_truncate_chars:80 }}</h2>
                    <p hidden class="author">Por {{ article.owner.first_name }} {{ article.owner.last_name }}</p>
                    <img hidden src="{% static 'images/defer.png'%}"
                         data-src="{{ tmp_photo.url }}" alt="{{ article.titulo }}">
                </a>
            </article>
        {% endfor %}
    </div>
</section>