{% load custom_tags %}

<section class="main-video">
    <div class="container">
        <div class="video-container">
            <iframe id="iframe-video" width="16" height="9" data-src="//www.dailymotion.com/embed/video/{{ self.video|get_code_format_video }}?html=true&amp;info=0&amp;logo=0&amp;related=0" allowfullscreen></iframe>
        </div>
    </div>
</section>