{% load custom_tags %}

{# Streamfield Article TV #}
<section id="content" class="streamfields">

    {% for block in self.contenido %}
        {% if block.block_type == 'paragraph' %}
            <div class="paragraph">
                {{ block.value }}
            </div>
        {% elif block.block_type == 'video' %}
            {% include 'core/includes/news-articles/block-streamfields/video.html' %}
        {% endif %}
    {% endfor %}



</section>