{% load static from staticfiles %}
{% load wagtailcore_tags wagtailimages_tags custom_tags %}

<!-- Other News from Category-News -->
<article class="news-block columns">
    {% include 'core/includes/base/social-media.html' with article=article class="tab" utm="news-category" only %}
    <a href="{% pageurl_custom article %}" class="image-container">
        {% image article.photo fill-300x185 as tmp_photo  %}
        <img class="image" src="{% static 'images/defer.png' %}" data-src="{{ tmp_photo.url }}" alt="{{ article.titulo }}" />
    </a> 
    <h4><a href="{% pageurl_custom article %}">{{ article.titulo }}</a></h4>
    <div class="meta-data">
        <span hidden class="author">{{ article.owner.first_name }} {{ article.owner.second_name }} |</span>
        <time datetime="2015-08-15 11:38">
            <span class="icon-clock"><!-- icon --></span>
            <span class="text">
                {{ article.first_published_at|date:"F d, Y" }}
            </span>
        </time>
    </div>
</article>