{% load static from staticfiles %}
{% load custom_tags wagtailimages_tags %}

<article class="columns video-thumb" data-src="{{ dailymotion_path }}{{ article.video|get_code_format_video }}"
         data-attr="{{ article.id }}">

    <h3 class="headings"><a href="{% pageurl_custom article.categoria %}">{{ article.categoria }}</a></h3>
    <div class="image-container">
        {% image article.photo fill-220x136 as tmp_photo %}
        <img class="icon" src="{% static 'images/defer.png' %}" data-src="{% static 'images/icons/play.png' %}"
             alt="Ícono de play">
        <img class='image' src="{% static 'images/defer.png' %}" data-src="{{ article.photo.file.url }}"
             alt="{{ article.titulo }}" />
    </div>
    <h4>{{ article.titulo }}</h4>
    <div class="meta-data">
        <time datetime="2015-08-15 11:38">
            <span class="icon-clock"><!-- icon --></span>
            <span class="text">{{ article.first_published_at|time_filter_custom }}</span>
        </time>
    </div>

    {% with FB_SHARE="https://www.facebook.com/sharer/sharer.php?u=" TW_SHARE="https://twitter.com/intent/tweet?url=" WP_SHARE="whatsapp://send?text=" MAIL="mailto:?&subject=Comparto esta noticia&body=Hola%20te%20comparto%20esta%20noticia%20de%20El%20Noticiero:%20"%}
        <span hidden class="share fb">{{ FB_SHARE }}{% pageurl_encode article %}&text={{ article.titulo }}</span>
        <span hidden class="share tw">{{ TW_SHARE }}{% pageurl_encode article %}&text={{ article.titulo }}&hashtags=elnoticiero</span>
        <span hidden class="share msm">{{ MAIL }}{{ article.titulo }}%20{% pageurl_encode article %}</span>
        <span hidden class="share waspp">{{ WP_SHARE }}{% pageurl_encode article %}</span>
    {% endwith %}

</article>